@font-face {
    font-family: 'Metropolis Regular';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/Metropolis-Regular.eot');
    /* IE9 Compat Modes */
    src: local('Metropolis Regular'), local('Metropolis-Regular'), url('fonts/Metropolis-Regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/Metropolis-Regular.woff') format('woff'), /* Modern Browsers */
    url('fonts/Metropolis-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/Metropolis-Regular.svg#Quicksand') format('svg');
    /* Legacy iOS */
}

html,
body,
form,
fieldset,
table,
tr,
td,
img,
span.menu-text,
span.sub-menu-text {
    font-family: Metropolis Regular !important;
}

li a i.menu-icon {
    margin-right: 16px;
    display: block;
    float: left;
    width: 18px;
    font-size: 18px;
}

a,
input,
button,
select,
textarea,
option,
div {
    font-family: inherit;
}

.fa-balance-scale:before {
    margin-left: -2px;
}

.started-timers-top .top-dropdown-btn {
    font-size: 16px;
}

.bg-success {
    background-color: #12c50f;
}

.label-danger .fa-clock-o {
    color: #ffffff;
}

.checkbox.checklist-checkbox input:checked+label:after {
    width: 20px;
    height: 20px;
}

.checkbox.checklist-checkbox label::after {
    margin-left: -21px;
    padding-left: 4px;
    padding-top: 2px;
    font-size: 11px;
}

.notification_link:hover {
    color: #00B1E0;
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    background-color: #eee;
    border-color: #00B1E0;
}

body #menu ul::-webkit-scrollbar {
    width: 0px !important;
    background-color: #ffffff;
}

body #menu ul::-webkit-scrollbar-thumb {
    background-color: unset;
}

.text-uppercase,
#side-menu li a {
    text-transform: unset;
}

body {
    /*background-color: #f3eded;*/
    background-color: #f6f6f6;
    /*background: #f3eded;*/
    background: #f6f6f6;
    overflow-x: hidden;
}

body.hide-sidebar:not(.show-sidebar) #menu {
    margin-left: -210px;
}

body.hide-sidebar #header {
    left: 0px;
    width: auto;
}

body.page-small #header {
    width: 100%;
}

body.page-small #wrapper {
    left: 0;
    width: auto;
}

body.page-small.show-sidebar #menu {
    margin-left: 0;
}

body.page-small.show-sidebar #wrapper {
    margin-left: 210px;
}

#wrapper {
    margin: 0 0 0 210px;
    background: transparent;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body #wrapper .content .progress-bar-mini {
    height: 13px !important;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

body.admin_light_theme_initiated #menu i:not(.icon_new_messages)::before {
    font-weight: 600;
    color: #444952;
}

body .mobile-menu i.fa.fa-chevron-down:before {
    color: #5767a2;
}

#menu,
#setup-menu-wrapper {
    position: fixed;
    top: 0;
    height: 100vh;
}

#side-menu li.quick-links .dropdown-menu:before {
    border-bottom-color: #00B1E0 !important;
}

a:hover,
a:focus {
    outline: unset;
    color: #8c70b9;
}

.text-info,
a,
ul.search-results a {
    color: #00B1E0;
}

.progress-bar-danger {
    background-color: #fd5262;
}

.pagination>.active>a {
    background: #00B1E0;
    border-color: #00B1E0;
}

.pagination>li>a {
    color: #00B1E0;
}

.pagination>li>a:hover {
    color: #00B1E0;
}

.table .alert-info {
    color: #00B1E0;
}

.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    color: #fff;
    background-color: #2c465f;
    border-color: #2c465f;
}

#header .fa-search:before,
#header .fa-share:before,
#header .fa-check-square-o:before,
#header .fa-clock-o:before,
#header .fa-bell-o:before {
    color: #5767a2;
}

@media (min-width: 801px) {
    body.small-table .small-table-right-col.col-md-7 {
        padding-left: 15px;
    }
}

@media (min-width: 768px) {
    body.show-sidebar #wrapper {
        overflow-y: initial;
    }
    .navbar-right .dropdown-menu {
        right: -4px;
        left: auto;
    }
}

@media (max-width: 735px) {
    #menu,
    #setup-menu-wrapper {
        left: 0;
    }
    .horizontal-scrollable-tabs {
        min-height: 50px;
        margin-top: 2px;
    }
    body #wrapper .btn-bottom-toolbar {
        bottom: 0;
    }
    #side-menu li.dashboard_user {
        font-size: 12px;
    }
    .panel-full {
        margin-left: -23px;
    }
    .btn-bottom-toolbar {
        right: -7px;
        bottom: 20px;
    }
    #setup-menu-wrapper {
        height: 67vh;
        max-height: 100vh;
        min-height: 67vh;
    }
    #side-menu li.quick-links {
        position: relative;
        margin-top: -41px;
    }
    body.show-sidebar #wrapper {
        overflow-y: initial;
    }
}

@media (max-width: 667px) {
    #menu,
    #setup-menu-wrapper {
        left: 0;
    }
}

@media (max-width: 640px) {
    #menu,
    #setup-menu-wrapper {
        left: 0;
    }
}

@media (max-width: 568px) {
    #menu,
    #setup-menu-wrapper {
        left: 0;
    }
}

@media (max-width: 414px) {
    #menu,
    #setup-menu-wrapper {
        left: 0;
    }
}

@media (max-width: 375px) {
    #menu,
    #setup-menu-wrapper {
        left: 0;
    }
}

@media (max-width: 320px) {
    #menu,
    #setup-menu-wrapper {
        left: 0;
    }
    body #wrapper .btn-bottom-toolbar {
        bottom: 0;
        left: 0px;
        min-width: 100%;
    }
}

.navbar-pills.navbar-pills-flat.nav-tabs>li>a,
.navbar-pills.navbar-pills-flat.nav-tabs>li:first-child>a {
    border-top: none;
    border-left: none;
}

body #wrapper .btn-info:hover {
    background-color: #643ba5;
    border: 1px solid #643ba5;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

body.hide-sidebar .btn-bottom-toolbar {
    min-width: auto;
}

body #wrapper .btn-bottom-toolbar {
    box-shadow: 0px 2px 10px 0px rgba(27, 26, 26, 0.3);
    padding: 15px;
    background: #fff;
    width: auto;
    z-index: 5;
    margin: 0 auto;
    border-top: 1px solid #ededed;
    right: 45px;
}

.menu-text {
    font-weight: 400;
}

.dashboard .content {
    padding-top: 50px;
}

body .screen-options-area {
    margin-top: 18px;
    margin-left: 20px;
    width: calc(100% - 46px);
    height: 100%;
    box-shadow: none;
    border: none;
}

body #wrapper .screen-options-btn {
    margin-top: 11px;
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    -o-border-radius: 0px !important;
}

body.dashboard div[data-container="top-12"] {
    margin-top: 0 !important;
}

body #top_search ul.dropdown-menu {
    border-color: transparent !important;
    box-shadow: unset;
}

.alert-info,
.fadeInRight.alert.alert-info {
    color: #004085;
    background-color: #cce5ff;
    border-color: transparent;
}

.alert-warning,
.fadeInRight.alert.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.alert-secondary,
.fadeInRight.alert.alert-secondary {
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db;
}

.fadeInRight.alert.alert-success {
    color: #155724;
    background-color: #a4e4b4;
    border-color: #c3e6cb;
}

body #wrapper .label {
    font-size: 13px;
}

#side-menu.nav>li.pinned_project:last-child {
    border: none;
}

body .label-info {
    border: 1px solid #00B1E0;
    color: #00B1E0;
}

body #wrapper label {
    font-size: 13px;
}

body #wrapper small {
    font-size: 10px;
}


/* Theme Other Colors */

body .label-warning,
body span.project-status-3,
body span[task-status-table="1"] {
    color: #ffb822 !important;
    cursor: text !important;
    font-size: 13px;
    background-color: rgba(255, 194, 65, 0.15);
    border: 1px solid rgb(255, 246, 227) !important;
    padding: .6rem 1.1rem;
}

body .label-success,
body span.project-status-4,
body span[task-status-table="5"],
body span[task-status-table="2"] {
    color: #0abb87 !important;
    cursor: text !important;
    font-size: 13px;
    background-color: rgba(10, 187, 135, .1);
    border: 1px solid #e6f8f3 !important;
    padding: .6rem 1.1rem;
}

body span.proposal-status-1,
body span.project-status-1,
body span.invoice-status-6,
body span[task-status-table="3"] {
    color: #777777 !important;
    cursor: text !important;
    font-size: 13px;
    background-color: rgba(93, 120, 255, .1);
    border: 1px solid rgb(238, 241, 255) !important;
    padding: .6rem 1.1rem;
}

body span.proposal-status-6 {
    color: #777777 !important;
    cursor: text !important;
    font-size: 13px;
    background-color: rgba(121, 121, 121, 0.1);
    border: 1px solid rgb(238, 241, 255) !important;
    padding: .6rem 1.1rem;
}

body span.proposal-status-5 {
    color: #e4bb46 !important;
    cursor: text !important;
    font-size: 13px;
    background-color: rgba(232, 217, 34, 0.1);
    border: 1px solid rgb(253, 251, 232) !important;
    padding: .6rem 1.1rem
}

body .label-info,
body .label-primary,
body span.project-status-2,
body span[task-status-table="4"] {
    color: #00B1E0 !important;
    cursor: text !important;
    font-size: 13px;
    background-color: rgba(44, 119, 244, .1);
    border: 1px solid rgb(247, 248, 250) !important;
    padding: .6rem 1.1rem;
}

body .label-danger,
body span.project-status-5,
body .invoice-status-5,
body span[task-status-table="5"] {
    color: #fd397a !important;
    cursor: text !important;
    font-size: 13px;
    background-color: rgba(253, 57, 122, .1);
    border: 1px solid rgb(255, 235, 241) !important;
    padding: .6rem 1.1rem;
}

body .fa-caret-down {
    font-size: 1.3em;
}

body .fa-caret-down:hover::before {
    color: #00B1E0 !important;
}

body .fa-caret-down:before {
    content: "\f107";
    color: #989898;
    margin-left: 4px;
}

.ribbon.info span {
    background: #593c88;
}

.ribbon.info span:after {
    border-right: 3px solid #593c88;
    border-top: 3px solid #593c88;
}

.ribbon.info span:before {
    border-left: 3px solid #593c88;
    border-top: 3px solid #593c88;
}

body #wrapper th::after {
    color: #4e75ad;
}

body #wrapper th {
    background: #efefef;
    color: #5c80b3 !important;
}

.dropzone .dz-message {
    color: #00B1E0;
}

.dataTables_empty {
    background: url(images/table-no-data.png) center center / auto 161px no-repeat;
}

.admin_light_theme_initiated table.dataTable thead tr>th,
.table.dataTable>thead:first-child>tr:first-child>th {
    color: #4e75ad;
}

body.admin_light_theme_initiated #wrapper table>thead>tr>th {
    background: #ffffff;
    border-color: #bfcbd9!important;
}

.panel_s .panel_body p {
    color: red;
}

.onoffswitch-checkbox:checked+.onoffswitch-label {
    background-color: #12c50f;
    border-color: #d6d2d2;
}

.text-muted {
    color: #808080;
}

.text-danger {
    color: #fd5262;
}

.nav-tabs:not(.chat_nav) {
    background: #ffffff;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:visited {
    background: #00B1E0;
}

body .pagination>li:last-child>a,
.pagination>li:last-child>span,
body .pagination>li:first-child>a,
.pagination>li:first-child>span,
body .dropdown-menu>li:first-child>a,
body .dropdown-menu>li:last-child>a,
body #wrapper .input-group-addon,
body .xdsoft_datetimepicker,
body .dropdown-menu,
body #wrapper .label,
body #wrapper .dropdown-menu.open,
body #wrapper ul.dropdown-menu {
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    -o-border-radius: 0px !important;
}

body .dropdown-menu,
body #wrapper ul.dropdown-menu {
    border: none;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.dropdown-menu>.active>a:hover {
    background: #00B1E0;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover,
.nav-tabs>li>a:focus,
.nav-tabs>li>a:hover {
    color: #00B1E0;
    border-bottom-color: #00B1E0;
}

body #wrapper .btn,
body #wrapper textarea,
body #wrapper input,
body #wrapper div.label,
body #wrapper .bootstrap-select .dropdown-menu li,
body #wrapper select {
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    -o-border-radius: 0px !important;
}

.btn-info {
    background-color: #00B1E0;
}

.btn-info:focus,
.btn-info.focus,
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.open>.dropdown-toggle.btn-info,
.btn-info:active:hover,
.btn-info.active:hover,
.open>.dropdown-toggle.btn-info:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.open>.dropdown-toggle.btn-info:focus,
.btn-info:active.focus,
.btn-info.active.focus,
.open>.dropdown-toggle.btn-info.focus,
.btn-info:active,
.btn-info.active,
.open>.dropdown-toggle.btn-info {
    background-color: #00B1E0;
    color: #fff;
    border: 1px solid #00B1E0;
}

.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
    background-color: #00B1E0;
    color: #fff;
    border-color: #00B1E0;
}

.btn-info {
    border-color: #00B1E0;
}

.btn-success {
    background-color: #12c50f;
}

.success-bg {
    background: #12c50f !important;
    color: #fff !important;
    border: 1px solid #12c50f !important;
}

.btn-success:focus,
.btn-success.focus,
.btn-success:hover,
.btn-success:active,
.btn-success.active,
.open>.dropdown-toggle.btn-success,
.btn-success:active:hover,
.btn-success.active:hover,
.open>.dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open>.dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open>.dropdown-toggle.btn-success.focus,
.btn-success:active,
.btn-success.active,
.open>.dropdown-toggle.btn-success {
    background-color: #00a200;
    color: #fff;
    border-color: #00a200
}

.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
    background-color: #41ff3d;
    color: #fff;
    border-color: #41ff3d;
}

.btn-success {
    border-color: #12c50f;
}

.btn-danger {
    background-color: #ef4848;
}

.btn-danger:focus,
.btn-danger.focus,
.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.open>.dropdown-toggle.btn-danger,
.btn-danger:active:hover,
.btn-danger.active:hover,
.open>.dropdown-toggle.btn-danger:hover,
.btn-danger:active:focus,
.btn-danger.active:focus,
.open>.dropdown-toggle.btn-danger:focus,
.btn-danger:active.focus,
.btn-danger.active.focus,
.open>.dropdown-toggle.btn-danger.focus,
.btn-danger:active,
.btn-danger.active,
.open>.dropdown-toggle.btn-danger {
    background-color: #e63939;
    color: #fff;
    border-color: transparent;
}

.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger.focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
    background-color: #ff3232;
    color: #fff;
    border-color: #ff3232;
}

.dataTables_length select:focus,
.uneditable-input:focus,
input[type=color]:focus,
input[type=date]:focus,
input[type=datetime-local]:focus,
input[type=datetime]:focus,
input[type=email]:focus,
input[type=file]:focus,
input[type=month]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=text]:focus,
input[type=time]:focus,
input[type=url]:focus,
input[type=week]:focus,
select.form-control:focus,
textarea.form-control:focus {
    border-color: #b796ea;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc_disabled:after {
    opacity: 0.8;
}

.btn-danger {
    border-color: #ff0000;
}

#top_search {
    margin-right: 17px;
}

#top_search input:active,
#top_search input:focus,
#top_search input:hover {
    color: #232121;
    background: rgba(199, 198, 198, 0.2);
}

.admin #side-menu,
.admin #setup-menu {
    overflow-y: auto;
    height: 100vh;
    max-height: 100vh;
    background: #ffffff;
    box-shadow: 0px 0px 17px 0px rgba(27, 26, 26, 0.3);
}

#setup-menu li:first-child {
    border-bottom: 0px;
}

.projects .dropdown-menu.open {
    -webkit-border-top-left-radius: 9px;
    border-top-left-radius: 9px;
    -webkit-border-top-right-radius: 9px;
    border-top-right-radius: 9px;
    border: 0px;
}

.bg-warning {
    background-color: #fb5100;
}

#side-menu .arrow {
    font-size: 16px;
    color: #00B1E0;
    margin-top: -2px;
}

.panel-full {
    -webkit-box-shadow: unset;
    box-shadow: unset;
    margin-top: 1px;
    width: calc(100% - -23px);
    padding-left: 25px;
}

.nav-tabs {
    border: 0;
}

.horizontal-scrollable-tabs .scroller {
    border: 0;
}

.bootstrap-select li.selected.active a {
    background: #00B1E0;
}

.bootstrap-select .dropdown-menu li.active small {
    color: #333 !important;
}

.bootstrap-select .dropdown-menu>li:first-child>a {
    background: #dadada;
    color: #333;
}

.inner.open {
    width: auto;
}

.admin #side-menu li .nav-second-level li,
.admin #setup-menu li .nav-second-level li {
    background: #ffffff;
    padding-left: 4px;
}

.admin #side-menu li a,
.admin #setup-menu li a {
    color: #000000;
    text-transform: unset;
}

#side-menu li.dashboard_user {
    color: #00B1E0;
}

body #side-menu li .nav-second-level a:hover {
    background-color: transparent;
}

body #side-menu li .nav-second-level li:not(.active) a:hover {
    color: #00B1E0;
}

.info-bg {
    background: #00B1E0 !important;
    color: #fff !important;
    border: 1px solid #00B1E0 !important;
}

#side-menu.nav>li:not(.active)>a:hover,
#setup-menu>li:not(.active)>a:hover {
    background-color: transparent;
    color: #00B1E0 !important;
    transition: ease-in-out .1s;
    -webkit-transition: ease-in-out .1s;
    -moz-transition: ease-in-out .1s;
    -o-transition: ease-in-out .1s;
    -ms-transition: ease-in-out .1s;
}

.admin #side-menu li.active>a,
.admin #setup-menu li.active>a,
#side-menu.nav>li>a:focus,
#setup-menu>li>a:focus {
    color: #00B1E0 !important;
}

.admin #side-menu li.active>a,
.admin #setup-menu li.active>a {
    color: #ffffff;
}

.admin #side-menu li .nav-second-level li.active a,
.admin #setup-menu li .nav-second-level li.active a {
    background: transparent;
    color: #00B1E0 !important;
}

#setup-menu li .nav-second-level li a.active,
#setup-menu li .nav-second-level li a:hover {
    background-color: transparent;
    color: #ffffff;
}

.btn {
    font-size: 13px;
}

.admin #side-menu li .nav-second-level li a,
#setup-menu li .nav-second-level li a {
    color: #080000;
}

#setup-menu .nav-second-level li a:hover {
    color: #00B1E0 !important;
}

#setup-menu li .nav-second-level li a:hover {
    color: #00B1E0;
}

.panel_s>.panel-heading {
    font-weight: 500;
    background: #ffffff;
    margin-bottom: 12px;
}

body #wrapper .p8-half {
    padding: 7.5px;
}

body #header {
    background: #ffffff;
    opacity: 1;
    -webkit-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
    position: relative;
    left: 210px;
    width: calc(100% - 205px);
    box-shadow: 9px 0px 10px 0px rgba(27, 26, 26, 0.3);
}

#header .timer i.fa.fa-clock-o:before {
    color: red;
}

#header .timer a:hover>i.fa.fa-clock-o:before {
    color: white;
}

.admin .navbar-nav>li>a,
ul.mobile-icon-menu>li>a,
.mobile-menu-toggle,
.open-customizer-mobile {
    color: #000000;
}

.customer-profile-tabs {
    margin-top: -15px;
}

.hr-panel-heading {
    margin-left: -5px;
    margin-right: -5px;
}

#side-menu li.quick-links .open>.dropdown-menu {
    margin-left: 19px;
}

#side-menu li.quick-links .dropdown-menu:before {
    border-bottom-color: #28b8da;
}

.navbar-nav>li>.dropdown-menu.notifications {
    margin-top: 1px;
}

body #wrapper .input-group-addon,
.input-group {
    background: #fff;
    border-color: #bfcbd9;
}

.fa.fa-calendar {
    color: #00B1E0;
}

.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div.xdsoft_current {
    background: #00B1E0;
}

#top_search input {
    color: #000000;
    height: 61px;
}

.hide-menu {
    color: #000000;
}

body #wrapper .btn.btn-default i::before {
    color: #000000;
}

.modal-header {
    background: #00B1E0;
    background: linear-gradient(to right, #6c42af 0, #6c48a5 37%, #765ca0 100%);
}

.modal.fade.in {
    background: #000000ad;
}

.modal-header,
.modal-content,
.modal-footer {
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    -o-border-radius: 0px !important;
}

.modal-header .close {
    color: #ffffff;
}

.modal-dialog button.close[data-dismiss="modal"] span {
    position: absolute;
    right: 27px;
    top: 19px;
    font-size: 19px;
}

.widget-dragger {
    color: #8a8a8a;
}

.panel_s .panel-body,
.panel_s {
    border-radius: 0 !important;
    border: none;
    box-shadow: 0px 0px 14px 0px rgba(222, 222, 222, 0.72);
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
}

.user-data .home-activity .nav-tabs>li.active>a,
.user-data .home-activity .nav-tabs>li.active>a:focus,
.user-data .home-activity .nav-tabs>li.active>a:hover,
.user-data .home-activity .nav-tabs>li>a:focus,
.user-data .home-activity .nav-tabs>li>a:hover {
    color: #00B1E0 !important;
}

#setup-menu-wrapper::-webkit-scrollbar {
    width: 5px !important;
    background-color: #ffffff;
}

#setup-menu-wrapper::-webkit-scrollbar-thumb {
    background-color: #e3e8ee;
}

::-webkit-scrollbar {
    width: 10px !important;
    height: 10px !important;
}

::-webkit-scrollbar-thumb {
    background-color: #777;
}

::-webkit-scrollbar-track {
    background-color: #ffffff;
}

.kan-ban-content {
    background: #dadada;
}

.has-error .form-control:focus,
.has-error .form-control {
    border-color: #fb0502 !important;
    box-shadow: unset !important;
}

.profile .text-muted {
    color: #000 !important;
}

.profile .total-column .panel-body,
.staff.member .total-column .panel-body {
    background: #ececec !important;
}

.profile .panel_s {
    -webkit-box-shadow: unset;
    box-shadow: unset;
}

.todo-title {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.fn-gantt .leftPanel .name,
.fn-gantt .navigate .nav-link {
    background: #00B1E0 !important;
    color: #ffffff !important;
    font-size: 10px;
    padding: 0px;
}

#menu ul li a {
    font-size: 14px;
}

#menu ul li a span.sub-menu-text,
#setup-menu span.sub-menu-text {
    font-size: 14px;
}

body #wrapper .top_stats_wrapper {
    box-shadow: 0px 0px 14px 0px rgba(222, 222, 222, 0.72);
    border: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

#setup-menu-wrapper {
    -webkit-box-shadow: 0px 3px 3px 0px #cac7c7;
    box-shadow: 0px 3px 3px 0px #cac7c7;
}

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent
}

.waves-effect .waves-ripple {
    position: absolute;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    opacity: 0;
    background: rgba(0, 0, 0, .2);
    background: -webkit-radial-gradient(rgba(0, 0, 0, .2) 0, rgba(0, 0, 0, .3) 40%, rgba(0, 0, 0, .4) 50%, rgba(0, 0, 0, .5) 60%, rgba(255, 255, 255, 0) 70%);
    background: -o-radial-gradient(rgba(0, 0, 0, .2) 0, rgba(0, 0, 0, .3) 40%, rgba(0, 0, 0, .4) 50%, rgba(0, 0, 0, .5) 60%, rgba(255, 255, 255, 0) 70%);
    background: -moz-radial-gradient(rgba(0, 0, 0, .2) 0, rgba(0, 0, 0, .3) 40%, rgba(0, 0, 0, .4) 50%, rgba(0, 0, 0, .5) 60%, rgba(255, 255, 255, 0) 70%);
    background: radial-gradient(rgba(0, 0, 0, .2) 0, rgba(0, 0, 0, .3) 40%, rgba(0, 0, 0, .4) 50%, rgba(0, 0, 0, .5) 60%, rgba(255, 255, 255, 0) 70%);
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
    -webkit-transform: scale(0) translate(0, 0);
    -moz-transform: scale(0) translate(0, 0);
    -ms-transform: scale(0) translate(0, 0);
    -o-transform: scale(0) translate(0, 0);
    transform: scale(0) translate(0, 0);
    pointer-events: none
}

.waves-effect.waves-light .waves-ripple {
    background: rgba(255, 255, 255, .4);
    background: -webkit-radial-gradient(rgba(255, 255, 255, .2) 0, rgba(255, 255, 255, .3) 40%, rgba(255, 255, 255, .4) 50%, rgba(255, 255, 255, .5) 60%, rgba(255, 255, 255, 0) 70%);
    background: -o-radial-gradient(rgba(255, 255, 255, .2) 0, rgba(255, 255, 255, .3) 40%, rgba(255, 255, 255, .4) 50%, rgba(255, 255, 255, .5) 60%, rgba(255, 255, 255, 0) 70%);
    background: -moz-radial-gradient(rgba(255, 255, 255, .2) 0, rgba(255, 255, 255, .3) 40%, rgba(255, 255, 255, .4) 50%, rgba(255, 255, 255, .5) 60%, rgba(255, 255, 255, 0) 70%);
    background: radial-gradient(rgba(255, 255, 255, .2) 0, rgba(255, 255, 255, .3) 40%, rgba(255, 255, 255, .4) 50%, rgba(255, 255, 255, .5) 60%, rgba(255, 255, 255, 0) 70%)
}

.waves-effect.waves-classic .waves-ripple {
    background: rgba(0, 0, 0, .2)
}

.waves-effect.waves-classic.waves-light .waves-ripple {
    background: rgba(255, 255, 255, .4)
}

.waves-notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important
}

.waves-button,
.waves-circle {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    mask-image: -webkit-radial-gradient(circle, #fff 100%, #000 100%);
    -webkit-mask-image: -webkit-radial-gradient(circle, #fff 100%, #000 100%);
}

.waves-button,
.waves-button-input,
.waves-button:hover,
.waves-button:visited {
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: none;
    outline: 0;
    color: inherit;
    background-color: rgba(0, 0, 0, 0);
    font-size: 1em;
    line-height: 1em;
    text-align: center;
    text-decoration: none;
    z-index: 1
}

.waves-button {
    padding: .85em 1.1em;
    border-radius: .2em
}

.waves-button-input {
    margin: 0;
    padding: .85em 1.1em
}

.waves-input-wrapper {
    border-radius: .2em;
    vertical-align: bottom
}

.waves-input-wrapper.waves-button {
    padding: 0
}

.waves-input-wrapper .waves-button-input {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1
}

.waves-circle {
    text-align: center;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.waves-float {
    mask-image: none;
    -webkit-mask-image: none;
    -webkit-box-shadow: 0 1px 1.5px 1px rgba(0, 0, 0, .12);
    box-shadow: 0 1px 1.5px 1px rgba(0, 0, 0, .12);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

.waves-float:active {
    -webkit-box-shadow: 0 8px 20px 1px rgba(0, 0, 0, .3);
    box-shadow: 0 8px 20px 1px rgba(0, 0, 0, .3)
}

.waves-block {
    display: block
}

.nanobar {
    width: 100%;
    height: 0px;
    z-index: 100;
    top: 0;
    background: #fff;
}

.bar {
    width: 0;
    height: 100%;
    transition: height .3s;
    background: #00B1E0;
    height: 4px;
}

body #wrapper #group_by_tasks_wrapper span {
    left: -96px !important;
}

input[type="radio"]:checked+label:after,
input[type="checkbox"]:checked+label:after,
.radio-primary input[type=radio]+label::after {
    background: #00B1E0 !important;
    color: #033450;
}

.dataTables_length select {
    padding-top: 8px !important;
}

input[type="checkbox"]:checked+label:after {
    width: 18px;
    height: 18px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #ffffff;
}

input[type=radio]:checked+label::before {
    border-color: #00B1E0 !important;
}

.input-group-addon .checkbox label::after {
    padding: 3px;
}

tr th:first-child input[type="checkbox"]:checked+label:after {
    background: #ffffff !important;
    color: #00B1E0;
}

.dt-loader:not(:required) {
    background: #00B1E0;
    height: 13px;
    width: 13px;
    -webkit-border-radius: 30%;
    border-radius: 30%;
    -webkit-animation: loader 1s 150ms infinite ease-out;
    animation: loader 1s 150ms infinite ease-out;
}

.dt-loader:not(:required):after,
.dt-loader:not(:required):before {
    background: #00B1E0;
    height: 13px;
    width: 13px;
    -webkit-border-radius: 30%;
    border-radius: 30%;
}

body.viewinvoice #wrapper,
body.viewproposal #wrapper,
body.viewestimate #wrapper {
    margin-left: 0px !Important;
}

@-webkit-keyframes loader {
    0% {
        background: #00B1E0;
    }
    10% {
        background: #c5c5c5;
    }
    40% {
        background: #00B1E0;
    }
}

@keyframes loader {
    0% {
        background: #00B1E0;
    }
    10% {
        background: #c5c5c5;
    }
    40% {
        background: #00B1E0;
    }
}

@media (max-width: 768px) {
    body ul.mobile-icon-menu .dropdown-menu.started-timers-top {
        right: -58px;
        left: auto;
    }
    body ul.mobile-icon-menu .dropdown-menu {
        right: -25px;
        left: auto;
        margin-top: 1px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    body ul.search-results {
        border-radius: 0;
    }
    #top_search_dropdown {
        width: 320px;
        border-radius: 0;
    }
    #top_search input:active,
    #top_search input:focus,
    #top_search input:hover {
        background: rgb(255, 255, 255);
    }
    #top_search_button i:before {
        color: #333;
    }
    #top_search input {
        color: #000000;
        background: rgb(249, 248, 248);
    }
    .content {
        padding: 15px 15px 15px 15px;
    }
    #menu,
    #setup-menu-wrapper {
        left: 0;
    }
    ul.mobile-icon-menu>li:last-child {
        border: none;
    }
    ul.mobile-icon-menu>li {
        border: none;
        position: relative;
    }
}


/* RTL CSS Support */

body.rtl.page-small:not(.show-sidebar):not(.hide-sidebar) #wrapper,
body.rtl.page-small:not(.show-sidebar):not(.hide-sidebar) #header {
    right: 0;
    width: auto;
}

body.rtl .fa-balance-scale:before {
    margin-right: -5px;
}

body.rtl #wrapper {
    -webkit-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
}

body.rtl #top_search {
    margin-right: 0px;
}

body.rtl .screen-options-area {
    margin-top: 18px;
    margin-left: auto;
    width: calc(100% - 46px);
    height: 100%;
    margin-right: 25px;
}

body.rtl.hide-sidebar:not(.show-sidebar) #menu {
    right: 0;
}

body.rtl.hide-sidebar:not(.show-sidebar) #wrapper {
    margin-left: 0;
}

body.rtl.hide-sidebar #header {
    left: 0px;
    width: 100%;
}

body.rtl.dashboard #wrapper,
body.rtl.dashboard.show-sidebar.page-small #wrapper {
    margin: 0 210px 0 0;
    -webkit-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
}

body.rtl.page-small #menu {
    -webkit-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
    margin-right: -210px;
}

body.rtl.page-small:not(.show-sidebar):not(.hide-sidebar) {
    margin: 0 0 0 0px;
}

body.rtl.page-small #wrapper {
    margin-left: -1px;
}

body.rtl.page-small.show-sidebar #menu {
    margin-right: 0;
}

body.rtl.page-small.show-sidebar #wrapper {
    margin-left: 0px;
}

body.rtl #menu,
body.rtl #setup-menu-wrapper {
    position: fixed;
    top: 0;
    left: auto;
    height: 100vh;
}

body.rtl #header {
    position: relative;
    left: -211px;
    width: calc(100% - 212px);
    box-shadow: none !important;
}

body.rtl #wrapper .btn-bottom-toolbar {
    box-shadow: 0px 2px 10px 0px rgba(27, 26, 26, 0.3);
    padding: 15px;
    background: #fff;
    width: auto;
    z-index: 5;
    margin: 0 auto;
    border-top: 1px solid #ededed;
    left: 45px;
    right: auto;
}

@media (min-width: 768px) {
    body.rtl .navbar-right .dropdown-menu {
        left: -1px;
        right: auto;
    }
}

@media (max-width: 768px) {
    body.rtl .dropdown i.fa-gavel {
        position: relative;
        left: -138px;
    }
    body.rtl.show-sidebar #header {
        left: 0;
        width: 100%;
        right: 211px;
    }
    body.rtl.page-small.show-sidebar #wrapper {
        margin-left: 0px;
        left: 0;
        margin-right: 220px !important;
    }
    body.rtl #menu,
    body.rtl #setup-menu-wrapper {
        right: 0px;
        overflow: auto;
    }
}

@media (max-width: 735px) {
    body.hide-sidebar .screen-options-area,
    body.rtl.hide-sidebar .screen-options-area {
        width: 86.2vw !important;
    }
    body.rtl.hide-sidebar .screen-options-area {
        width: 86.2vw !important;
    }
    html body.rtl #header {
        width: 100%;
        left: 0;
        right: 200px;
    }
    body.rtl.page-small.hide-sidebar #header {
        width: 100%;
        right: 0;
    }
    body.rtl.show-sidebar,
    body.rtl.show-sidebar #wrapper,
    html+body.rtl.show-sidebar {
        overflow-x: hidden;
        left: 0;
    }
    body.rtl.page-small.show-sidebar #wrapper {
        margin-right: 201px !important;
    }
    body.show-sidebar #wrapper {
        overflow-y: initial;
    }
}

body #wrapper #project_file_data #project-file-discussion .profile-picture,
body #wrapper #project_file_data #project-file-discussion .name,
body #wrapper #project_file_data #project-file-discussion .content {
    color: #333 !important;
}

body #wrapper #project-file-discussion ul.navigation {
    background: #fff !important;
}

body #project-file-discussion .comment-wrapper,
body #wrapper #project-file-discussion #comment-list,
body #wrapper #project-file-discussion .child-comments,
body #wrapper #project-file-discussion .commenting-field {
    background: #fff !important;
    border-radius: 5px !important;
}

body #project_file_data .project_file_discusssions_area {
    height: auto !important;
}

body #project-file-discussion.jquery-comments ul.main li.comment .wrapper .content,
body #project-file-discussion .action.reply,
body #project-file-discussion .delete.enabled,
body #project-file-discussion .update.save,
body #project-file-discussion .action.edit {
    color: #333 !important;
}

body .project_file_discusssions_area .jquery-comments ul.navigation li[data-container-name="comments"],
body .project_file_discusssions_area .jquery-comments ul.navigation li[data-container-name="comments"] .jquery-comments ul.navigation li[data-container-name="comments"]:hover {
    color: #312f2f !important;
}

body .project_file_discusssions_area .jquery-comments ul.navigation li.active,
.jquery-comments ul.navigation li:hover {
    color: #1666d0 !important;
}

body #project-file-discussion .control-row .send.save {
    background: #fefefe !important;
    color: #333 !important;
    margin-bottom: 11px !important;
    margin-right: 11px !important;
}

body #wrapper .project_file_area {
    max-height: 580px !important;
    height: auto !important;
}

.total-column .panel_s,
.total-column .panel-body {
    box-shadow: none;
}


/* iphone 11  */

@media only screen and (max-device-width: 375px) and (-webkit-device-pixel-ratio: 3) {
    body #wrapper {
        margin: 0 0 0 207px;
    }
    body .content {
        padding: 15px 15px 15px 15px;
    }
    body #wrapper .screen-options-btn {
        margin-top: 10px;
        position: unset;
        margin-bottom: 5px;
    }
    body.show-sidebar.page-small #header {
        left: 208px;
    }
    body #header {
        left: auto;
    }
}


/* iphone 6 7 8  */

@media only screen and (max-device-width: 414px) and (-webkit-device-pixel-ratio: 2) {
    body.show-sidebar.page-small #header {
        left: 208px;
    }
    body #header {
        left: auto;
    }
}


/* samsung s10E  */

@media only screen and (max-device-width: 360px) and (-webkit-device-pixel-ratio: 4.5) {
    body #wrapper {
        margin: 0 0 0 207px;
    }
    body .content {
        padding: 15px 15px 15px 15px;
    }
    body #wrapper .screen-options-btn {
        margin-top: 10px;
        position: unset;
        margin-bottom: 5px;
    }
    body.show-sidebar.page-small #header {
        left: 208px;
    }
    body #header {
        left: auto;
    }
}