@font-face {
    font-family: 'Lato Regular';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/Lato-Regular.eot');
    /* IE9 Compat Modes */
    src: local('Lato Regular'), local('Lato-Regular'), url('fonts/Lato-Regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/Lato-Regular.woff') format('woff'), /* Modern Browsers */
    url('fonts/Lato-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    /*url('fonts/Metropolis-Regular.svg#Quicksand') format('svg');*/
    /* Legacy iOS */
}

html,
body,
form,
fieldset,
table,
tr,
td,
img,
span.menu-text,
span.sub-menu-text {
    font-family: Lato Regular !important;
}
