/* Chat DARK theme */
#frame {
    font-family: Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif !important;
    width: 100%;
    min-width: 360px;
    height: 93vh;
    height: calc(var(--vh, 1vh) * 93);
    background: #fff;
}

#frame #announcement {
    display: none;
}

#frame #sidepanel {
    background: #2f3440;
    float: left;
    min-width: 280px;
    max-width: 340px;
    width: 40%;
    height: 100%;
    color: #fff;
    overflow: hidden;
    position: relative;
}

#frame img.emoji {
    width: 22px !important;
    height: 22px !important;
    display: inline-block !important;
    background-size: contain !important;
    float: none !important;
    margin-left: 3px;
    margin-top: -1px;
}

body.Prchat_Controller #wrapper {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 93);
    min-height: unset !important;
}

#frame #sidepanel #profile {
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: #2f3440;
}

#frame #sidepanel #profile .wrap {
    padding: 11px 0px 0px 21px;
    height: 60px;
    line-height: 60px;
    overflow: hidden;
    -moz-transition: 0.3s height ease;
    -o-transition: 0.3s height ease;
    -webkit-transition: 0.3s height ease;
    transition: 0.3s height ease;
    border-bottom: 1px solid #363a46;
}

#frame #sidepanel #profile .wrap img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 2px;
    border: 1px solid #2ecc71;
    float: left;
    -moz-transition: 0.3s border ease;
    -o-transition: 0.3s border ease;
    -webkit-transition: 0.3s border ease;
    transition: 0.3s border ease;
}

#frame #sidepanel #profile .wrap p {
    float: left;
    margin-left: 9px;
    margin-top: -10px;
    font-size: 14px;
}

#frame .history_slider {
    float: left;
    position: absolute;
    left: 6px;
}

#frame .italic {
    font-style: italic;
    font-size: 18px;
}

#frame .announcement .dropdown button.btn.btn-primary.dropdown-toggle:hover,
#frame .announcement .dropdown button.btn.btn-primary.dropdown-toggle:focus,
#frame .announcement .dropdown button.btn.btn-primary.dropdown-toggle:active {
    border-color: transparent !important;
    background: #4c4e56 !important;
}

#frame ul.dropdown-menu .i_groups a:hover,
#frame ul.dropdown-menu .i_groups:hover,
#frame ul.dropdown-menu .i_announcement a:hover {
    background: #363a46;
    border-color: transparent;
}

#frame ul.dropdown-menu .i_groups a,
#frame ul.dropdown-menu .i_announcement a {
    color: #fff;
}

#frame ul.dropdown-menu .i_announcement:hover,
#frame ul.dropdown-menu .i_announcement:focus,
#frame ul.dropdown-menu .i_announcement:active,
#frame ul.dropdown-menu .i_groups:hover,
#frame ul.dropdown-menu .i_groups:focus,
#frame ul.dropdown-menu .i_groups:active {
    border-color: transparent;
    background: #2f3440;
}

#frame ul.dropdown-menu .i_groups,
#frame ul.dropdown-menu .i_groups a,
#frame ul.dropdown-menu .i_announcement {
    background: #2f3440;
}

#frame .announcement .dropdown button.btn.btn-primary.dropdown-toggle {
    height: 29px;
    padding-top: 4px;
    background: #363a46;
}

#frame .announcement .dropdown {
    top: -2px;
}

#frame .announcement {
    cursor: pointer;
    float: right;
    margin-top: -43px;
    margin-right: 8px;
    font-size: 23px;
}

#frame .dropdown-menu,
#frame .dropdown-menu:hover {
    left: -123px;
    min-width: 166px;
    border-color: transparent;
}

#frame i.i_settings::before {
    color: #fff;
    font-size: 19px;
}

#menu .liveUsers {
    margin-left: 2px !important;
    text-transform: capitalize;
    margin-top: -2px;
}

#frame #sidepanel #search {
    font-weight: 300;
    padding: 10px;
    background: #2f3440;
}

#frame #sidepanel #search label {
    position: absolute;
    margin: 6px 0 0 20px;
    color: #929292;
}

#frame #sidepanel #search input {
    background-color: #363a46 !important;
    color: #fff;
    border-radius: 5px;
    border-style: none;
    box-sizing: border-box;
    font-size: 16px;
    height: 30px;
    width: 100%;
    line-height: 30px;
    padding: 0px 0 0px 46px;
}

#frame #sidepanel #search input:focus {
    outline: none;
    background: #51637c;
}

#frame #sidepanel #search input::-webkit-input-placeholder {
    color: #fff;
}

#frame #sidepanel #search input::-moz-placeholder {
    color: #fff;
}

#frame #sidepanel #search input:-ms-input-placeholder {
    color: #fff;
}

#frame #sidepanel #search input:-moz-placeholder {
    color: #fff;
}

#frame #sidepanel #clients_container,
#frame #sidepanel #contacts {
    overflow-x: hidden;
    -ms-overflow-y: auto;
    overflow-y: auto;
    scrollbar-width: none;
    height: 72vh;
}

#frame #sidepanel #contacts a {
    color: #000;
    display: block;
}

#frame #sidepanel #contacts .contact .emoji {
    width: 18px !important;
    height: 18px !important;
}


#frame .messages .userIsTyping,
#frame .client_messages .userIsTyping {
    display: none;
    position: sticky;
    padding-bottom: 6px;
    top: 100%;
    left: 0;
    clear: both;
}

@-moz-document url-prefix() {

    #frame .messages .userIsTyping,
    #frame .client_messages .userIsTyping {
        top: 96%;
    }
}

#frame .client_messages .userIsTyping {
    padding-bottom: 10px;
}

#frame .messages .userIsTyping img,
#frame .client_messages .userIsTyping img {
    width: 35px;
}

#frame #sidepanel #clients_container::-webkit-scrollbar,
#frame #sidepanel #contacts::-webkit-scrollbar {
    width: 4px;
}

#frame #sidepanel #clients_container::-webkit-scrollbar-thumb,
#frame #sidepanel #contacts::-webkit-scrollbar-thumb {
    background-color: rgb(72, 76, 86);
}

#frame #sidepanel #contacts ul li.contact {
    position: relative;
    font-size: 0.9em;
    cursor: pointer;
}

#frame #sidepanel #contacts ul li.contact a {
    padding: 15px 0 15px 0;
}

#frame #sidepanel #contacts ul li.contact:hover {
    background: #2b2f38;
    transition: background 500ms;
    -webkit-transition: background 500ms;
    -moz-transition: background 500ms;
    -ms-transition: background 500ms;
    -o-transition: background 500ms;
}

#frame #sidepanel #contacts ul li.contact.active span.offline,
#frame #sidepanel #contacts ul li.contact.active span.online {
    border: 2px solid #2b2f38 !important;
}

#frame #sidepanel #contacts ul li.contact.active {
    background: #2a2d35bf;
}

#frame #sidepanel #contacts ul li.contact .wrap {
    width: 88%;
    color: #fff;
    margin: 0 auto;
    position: relative;
}

#frame #sidepanel #contacts ul li.contact .wrap span {
    position: absolute;
    z-index: 1;
    left: 29px;
    top: 27px;
    width: 12px;
    height: 12px;
    border: 2px solid #2f3440;
    border-radius: 50%;
    background: #969696;
}

#frame #sidepanel #contacts ul li.contact .wrap span.online {
    background: #2ecc71;
}

#frame #sidepanel #contacts ul li.contact .wrap img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}

.Prchat_Controller .tooltipster-base.tooltipster-sidetip.tooltipster-left.tooltipster-fade.tooltipster-show {
    height: 31px !important;
}

.Prchat_Controller .tooltipster-sidetip .tooltipster-box {
    background: rgba(204, 204, 204, 0.88) !important;
    border: none !important;
    border-radius: 0px !important;
}

.Prchat_Controller .tooltipster-sidetip.tooltipster-left .tooltipster-arrow-border {
    border-left-color: rgba(204, 204, 204, 0.88) !important;
}

.Prchat_Controller .tooltipster-sidetip.tooltipster-left .tooltipster-arrow-background {
    border-left-color: rgba(204, 204, 204, 0.88) !important;
    left: 0px !important;
    top: 0 !important;
}

.Prchat_Controller .tooltipster-sidetip.tooltipster-left .tooltipster-arrow {
    right: -2px;
}

#frame #sidepanel #contacts ul li.contact .wrap .meta .name {
    font-weight: 400;
    margin: 0 0 2px;
    font-size: 14px;
}

#frame #sidepanel #contacts ul li.contact .wrap .meta p.pull-right {
    font-size: 12px;
    margin-top: -40px;
    margin-right: -12px;
}

#frame .connection_field {
    display: none;
    background: #f03d25;
    text-align: center;
    height: 44px;
    color: #fff;
    padding-top: 11px;
}

#frame .blink {
    animation: blinker 1s linear infinite;
    -webkit-animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

#frame .connection_field .connection_field_notice {
    font-size: 14px;
}

#frame #sidepanel #contacts ul li.contact .wrap .meta .preview {
    color: rgb(181, 181, 181);
    font-size: 13px;
    margin: 3px 0 0px 0;
    padding: 0 0 1px;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -moz-transition: 1s all ease;
    -o-transition: 1s all ease;
    -webkit-transition: 1s all ease;
    transition: 1s all ease;
}

#frame #sidepanel #contacts ul li.contact .wrap .meta .preview span {
    position: initial;
    border-radius: initial;
    background: none;
    border: none;
    padding: 0 2px 0 0;
    margin: 0 0 0 1px;
    opacity: 0.5;
}

#frame .content {
    border-left: 1px solid #363a46;
    padding: 0px 0px 25px 0px;
    height: 100%;
    overflow: hidden;
    position: relative;
}

#frame .content .contact-profile {
    width: 100%;
    height: 60px;
    background: #2f3440;
}

#frame .contact_role {
    color: #6986e8;
    font-size: 12px;
}

#frame .content .contact-profile img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    float: left;
    margin: 12px 12px 0 9px;
}

#frame .content .contact-profile p {
    float: left;
    color: #fff;
    font-size: 14px;
    padding-top: 16px;
    line-height: 14px;
}

#frame #profile .dropdown {
    position: relative;
    float: right;
    margin-top: 2px;
    margin-right: 13px;
}

#frame .dropbtn {
    color: #fff !important;
    padding: 1px;
    border: none;
    cursor: pointer;
}

#frame .dropbtn:hover {
    color: #fff !important;
}

#frame .dropdown {
    position: relative;
    display: inline-block;
}

#frame .dropdown-content {
    display: none;
    width: -webkit-max-content;
    width: max-content;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background: #363a46;
    top: -53px;
    left: -64px;
    border-radius: 4px;
    line-height: 24px;
}

#frame .dropdown-content a:hover {
    color: #6986e8 !important;
    border-radius: 4px;
    transition: color 500ms;
    padding: 5px 1px 5px 31px;
    -webkit-transition: color 500ms;
    -moz-transition: color 500ms;
    -ms-transition: color 500ms;
    -o-transition: color 500ms;
}

#frame .dropdown-content a#light {
    padding: 5px 5px 5px 31px;
}

#frame .dropdown-content a#dark {
    padding: 5px 31px 5px 31px;
}

#frame .dropdown-content a {
    float: left;
    text-align: center;
    text-decoration: none;
    display: block;
    color: #fff !important;
    z-index: 99999999999;
    padding: 5px 1px 5px 31px;
}

.Prchat_Controller .prchat_message_delete {
    cursor: pointer;
    color: #000;
}

#frame .content .contact-profile .social-media {
    float: right;
    font-size: 19px;
    margin-top: 15px;
}

#frame .content .contact-profile .social-media i {
    margin-left: 14px;
    cursor: pointer;
    color: #fff;
}

#frame .content .contact-profile .social-media i:hover {
    color: #6986e8;
    transition: color 500ms;
    -webkit-transition: color 500ms;
    -moz-transition: color 500ms;
    -ms-transition: color 500ms;
    -o-transition: color 500ms;
}

#frame .content .messages,
#frame .content .client_messages {
    position: relative;
    margin: 0px 1px 0px 10px;
    min-height: calc(100% - 79px);
    max-height: calc(100% - 82px);
    overflow-y: scroll;
    overflow-x: hidden;
}

#frame .content .client_messages {
    clear: both;
}

#frame .content .messages::-webkit-scrollbar,
#frame .content .client_messages::-webkit-scrollbar,
#frame .content .group_messages::-webkit-scrollbar {
    width: 4px;
    background: transparent;
}

#frame .content .messages::-webkit-scrollbar-thumb,
#frame .content .client_messages::-webkit-scrollbar-thumb,
#frame .content .group_messages::-webkit-scrollbar-thumb {
    background-color: #52555c;
}

#frame .content .messages ul li,
#frame .content .chat_client_messages ul li {
    float: left;
    clear: both;
    margin: 3px 15px 5px 18px;
    width: 98%;
    width: calc(100% - 25px);
    font-size: 15px;
}

#frame .content .messages ul li:nth-last-child(1),
#frame .content .chat_client_messages ul li:nth-last-child(1) {
    margin-bottom: 20px;
}

#frame .content .messages ul li.replies img.emoji,
#frame .content .chat_client_messages ul li.replies img.emoji {
    margin: 0px 8px 0 0;
}

#frame .content .messages ul li.replies,
#frame .content .chat_client_messages ul li.replies {
    margin-left: 4px;
}

#frame .content .messages ul li.replies p,
#frame .content .chat_client_messages ul li.replies p {
    background: #d8d8d8;
    color: #333;
    border-top-left-radius: 2px;
    display: inline-block;
    width: auto !important;
    max-width: 45%;
    word-break: break-word;
}

#frame .content .messages ul li.sent img:not(.emoji),
#frame .content .chat_client_messages ul li.sent img:not(.emoji) {
    float: right;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

    #frame .content .messages ul li.replies p,
    #frame .content .chat_client_messages ul li.replies p {
        max-width: 86%;
    }

    #frame .content .messages ul li.sent p,
    #frame .content .chat_client_messages ul li.sent p {
        max-width: 86% !important;
    }
}

#frame .content .messages ul li.sent p,
#frame .content .chat_client_messages ul li.sent p {
    background: #2f3440;
    color: #fff;
    float: right;
    border-top-right-radius: 2px;
    width: auto !important;
    word-break: break-word;
    max-width: 55%;
}

#frame .chat_group_messages ul li.from_other {
    clear: both;
    float: right;
    margin: 15px 15px 6px 15px;
    width: 98%;
    width: calc(100% - 25px);
    font-size: 15px;
}

#frame .chat_group_messages ul li.own_group_message_li {
    clear: both;
    float: left;
    margin: 15px 15px 6px 15px;
    width: 98%;
    width: calc(100% - 25px);
    font-size: 15px;
}

#frame .chat_group_messages p.own_group_message {
    background: #2f3440;
    color: #fff;
    float: right;
    border-top-left-radius: 1.3em;
    border-bottom-left-radius: 1.3em;
    border-bottom-right-radius: 1.3em;
    width: auto !important;
    word-break: break-word;
    max-width: 420px;
    padding: 6px 15px;
    margin-top: 10px;
    margin-right: 5px;
    line-height: 130%;
}

#frame .member_name_other {
    position: absolute;
    color: rgba(0, 0, 0, 0.59);
    font-size: 12px;
    left: 52px;
    margin-top: -7px;
}

#frame .member_name_me {
    position: absolute;
    color: rgba(0, 0, 0, 0.59);
    font-size: 12px;
    right: 54px;
    margin-top: -7px;
}

#frame .chat_group_messages p.from_other {
    background: #2f3440;
    color: #fff;
    float: left;
    width: auto !important;
    word-break: break-word;
    max-width: 420px;
    border-bottom-right-radius: 1.3em;
    border-bottom-left-radius: 1.3em;
    border-top-right-radius: 1.3em;
    padding: 6px 15px;
    margin-top: 9px;
    margin-left: 6px;
    line-height: 130%;
}

#frame .chat_group_messages .from_other img {
    border-radius: 50%;
    width: 35px;
    float: left;
}

#frame .chat_group_messages .own_group_message_li img,
#frame .chat_group_messages .from_other img {
    border-radius: 0%;
    max-width: 30vh;
    max-height: 25vh;
    width: auto;
    width: -webkit-fill-available;
    -webkit-border-radius: 0%;
    -moz-border-radius: 0%;
    -ms-border-radius: 0%;
    -o-border-radius: 0%;
}

#frame .chat_client_messages p a[target="_blank"],
#frame .messages p a[target="_blank"],
#frame .group_messages p a[target="_blank"] {
    text-decoration: underline;
    font-style: italic;
}

#frame .messages p a[target="_blank"]:hover,
#frame .chat_client_messages p a[target="_blank"]:hover,
#frame .group_messages p a[target="_blank"]:hover {
    text-decoration: underline;
    font-style: italic;
    color: #0063ca;
}

#frame .chat_group_messages .from_other img:not(.prchat_convertedImage) {
    border-radius: 50%;
    width: 35px;
    float: left;
}

#frame .chat_group_messages .own_group_message_li img:not(.prchat_convertedImage) {
    border-radius: 50%;
    width: 35px;
    float: right;
}

/* Flash class and keyframe animation */
.flashit {
    color: #f2f;
    -webkit-animation: flash linear 2s infinite;
    animation: flash linear 2s infinite;
}

@keyframes flash {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes flash {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }
}

#frame .chat_groups_list .g_new_msg i.fa-comments {
    font-size: 20px;
}

#frame .chat_groups_list .g_new_msg {
    float: right;
    margin-top: 8px;
    margin-right: 13px;
    display: none;
    color: #5e73e0;
}

#frame .content .messages ul li img,
#frame .content .chat_client_messages ul li img {
    border-radius: 50%;
    width: 32px;
    float: left;
}

body .lity {
    z-index: 999999999 !important;
}

#frame .content .messages ul li img.prchat_convertedImage,
#frame .content .chat_client_messages ul li img.prchat_convertedImage {
    border-radius: 0%;
    max-width: 35vh;
    max-height: 25vh;
    width: auto;
    width: -webkit-fill-available;
}

#frame .content .messages ul li p.friend,
#frame .content .chat_client_messages ul li p.client {
    margin-top: 5px;
    margin-left: 5px;
    border-bottom-right-radius: 1.3em;
    border-bottom-left-radius: 1.3em;
    border-top-right-radius: 1.3em;
}

#frame .content .messages ul li p.you,
#frame .content .chat_client_messages ul li p.you {
    margin-top: 5px;
    margin-right: 5px;
    border-top-left-radius: 1.3em;
    border-bottom-left-radius: 1.3em;
    border-bottom-right-radius: 1.3em;
}

#frame .content .messages ul li p,
#frame .content .chat_client_messages ul li p {
    display: inline-block;
    padding: 6px 15px 7px 15px;
    max-width: 205px;
    line-height: 130%;
}

@media screen and (min-width: 735px) {

    #frame .content .messages ul li p,
    #frame .content .chat_client_messages ul li p {
        max-width: 100%;
    }
}

#frame .content .message-input {
    position: absolute;
    bottom: 0;
    height: 44px;
    width: 100%;
    z-index: 57;
}

#frame .content .message-input .wrap {
    position: relative;
}

#frame .fa.fa-wifi {
    display: hidden;
    font-size: 28px;
    text-align: center;
}

#frame .content .message-input .wrap textarea {
    float: left;
    overflow: hidden;
    width: calc(100% - 89px);
    padding: 13px 38px 0px 10px;
    height: 44px;
    border: none;
    color: #333 !important;
    outline: none;
    resize: none;
    line-height: initial;
    margin: 0px auto;
    background: #e3e8ee;
    font-size: 14px;
    margin-left: -1px;
}

#frame .content .message-input .wrap textarea:focus {
    outline: none;
}

#frame .meta .time_ago {
    color: #6986e8;
}

#frame .content .message-input .wrap .attachment {
    position: absolute;
    right: 100px;
    z-index: 4;
    margin-top: 7px;
    font-size: 2.4em;
    color: #2f3440;
    cursor: pointer;
}

#frame .content .message-input .wrap button i.fa-paper-plane {
    font-size: 20px;
}

#frame .content .message-input .wrap button {
    float: right;
    border: none;
    border-top: 1px solid #bfbfbf;
    width: 90px;
    padding: 11px 0;
    cursor: pointer;
    background: #2f3440;
    color: #f5f5f5;
}

#frame .content .message-input .wrap button:hover {
    background: #363a46;
    transition: background 500ms;
    -webkit-transition: background 500ms;
    -moz-transition: background 500ms;
    -ms-transition: background 500ms;
    -o-transition: background 500ms;
}

#frame .content .message-input .wrap button:focus {
    outline: none;
}

#frame .message_loader,
#frame .message_group_loader {
    animation: rotate 2s linear infinite;
    -webkit-animation: rotate 2s linear infinite;
    display: none;
    z-index: 2;
    position: absolute;
    top: 1%;
    left: 50%;
    width: 20px;
    height: 20px;
    opacity: 1;
}

#frame .path {
    stroke: #6986e8;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }

    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}

#frame .notification-count {
    position: absolute;
    z-index: 1;
    top: -1px;
    right: -7px;
    width: 13px;
    height: 13px;
    line-height: 14px;
    font-size: 9px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #f94a5a;
    color: #fff;
    animation: zoom 3s 3s both infinite;
    -webkit-animation: zoom 3s 3s both infinite;
}

#frame .unread-notifications {
    display: none;
}

#frame .tb {
    color: #6986e8;
    padding: 0px;
    margin: 0px;
}

#frame .client-unread-notifications[data-badge]:after {
    content: attr(data-badge);
    position: absolute;
    text-indent: 0px;
    right: 8px;
    top: 11px;
    font-size: 11px;
    background: #6986e8;
    color: #fff;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 17px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    animation: zoom 3s 3s both infinite;
    -webkit-animation: zoom 3s 3s both infinite;
}

#frame .unread-notifications[data-badge]:after,
#frame .mobile-unread-notifications[data-badge]:after {
    content: attr(data-badge);
    position: absolute;
    text-indent: 0px;
    left: 49px;
    top: 13px;
    font-size: 11px;
    background: #6986e8;
    color: #fff;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 17px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    animation: zoom 3s 3s both infinite;
    -webkit-animation: zoom 3s 3s both infinite;
}

#frame .mobile-unread-notifications[data-badge]:after {
    left: 39px;
    top: 1px;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}

@media only screen and (min-width: 1030px) and (max-width: 1366px) {
    #side-menu li a {
        padding-top: 7px;
    }
}

#frame #sidepanel #bottom-bar {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 2;
}

#frame.isLoading {
    opacity: 0.8;
}

#frame #sidepanel #bottom-bar button {
    float: left;
    height: 44px;
    border: none;
    width: 50%;
    background: #363a46;
    color: #f5f5f5;
    cursor: pointer;
    font-size: 12px;
    font-family: 'proxima-nova', 'Source Sans Pro', sans-serif;
}

#frame #sidepanel #bottom-bar button#toggle_clients {
    width: 100%;
}

#frame #sidepanel #bottom-bar button:focus {
    outline: none;
}

#frame #sidepanel #bottom-bar button:nth-child(1) {
    border-right: 1px solid #2f3440;
}

#frame #sidepanel #bottom-bar button:hover {
    background: #393d48;
    transition: background 500ms;
    -webkit-transition: background 500ms;
    -moz-transition: background 500ms;
    -ms-transition: background 500ms;
    -o-transition: background 500ms;
}

#frame #sidepanel #bottom-bar button i {
    margin-right: 3px;
    font-size: 1.2em;
}

img.shaking {
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -webkit-animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

@media screen and (max-width: 735px) {
    #frame {
        height: 85vh;
        height: calc(var(--vh, 1vh) * 85);
    }

    body.Prchat_Controller #wrapper {
        height: 85vh;
        /* height: calc(var(--vh, 1vh) * 85); */
        min-height: unset !important;

    }

    #frame #sidepanel {
        width: 61px;
        height: 85vh;
        /* Fallback for browsers that do not support Custom Properties */
        height: calc(var(--vh, 1vh) * 85);
        min-width: 60px;
        margin-left: -2px;
    }

    #frame #sidepanel #profile {
        width: 100%;
        margin: 0 auto;
        padding: 10px 0 0 0;
        background: 223344;
    }

    #frame #sidepanel #profile .wrap {
        height: 55px;
        padding: 0px;
    }

    #frame #sidepanel #profile .wrap img {
        width: 40px;
        height: 40px;
        margin-top: 0px;
        margin-left: 11px;
    }

    #frame #sidepanel #profile .wrap p {
        display: none;
    }

    #frame #sidepanel #search {
        display: none;
    }

    #frame .content {
        width: calc(100% - 59px);
        min-width: 300px !important;
        height: 85vh;
        /* Fallback for browsers that do not support Custom Properties */
        height: calc(var(--vh, 1vh) * 85);
    }

    #frame .content .message-input .wrap .attachment {
        margin-top: 8px;
        right: 99px;
    }

    #frame .content .message-input .wrap button {
        padding: 15px 0;
    }

    #frame #sidepanel #contacts {
        height: 58vh;
        height: calc(var(--vh, 1vh) * 58);
        overflow-y: scroll;
        overflow-x: hidden;
    }

    #frame #sidepanel #contacts::-webkit-scrollbar {
        display: none;
    }

    #frame #sidepanel #groups::-webkit-scrollbar {
        display: none;
    }

    #frame #sidepanel #contacts ul li.contact a {
        padding: 6px 0 46px 8px;
    }

    #frame #sidepanel #contacts ul li.contact .wrap {
        width: 100%;
    }

    #frame #sidepanel #contacts ul li.contact .wrap img {
        margin-right: 0px;
        margin-left: 3px;
    }

    #frame #sidepanel #contacts ul li.contact .wrap .meta {
        display: none;
    }

    #frame #sidepanel #contacts ul li.contact.active {
        background: #21242d;
    }

    #frame .content .message-input {
        left: 1px;
    }

    #frame .unread-notifications[data-badge]:after,
    #frame .mobile-unread-notifications[data-badge]:after {
        content: attr(data-badge);
        position: absolute;
        text-indent: 0px;
        left: 41px;
        top: 4px;
        font-size: 11px;
        background: #f94a5a;
        color: #fff;
        width: 16px;
        height: 16px;
        text-align: center;
        line-height: 17px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        animation: zoom 3s 3s both infinite;
        -webkit-animation: zoom 3s 3s both infinite;
    }

    #frame .content .messages ul li img.prchat_convertedImage,
    #frame .content .chat_client_messages ul li img.prchat_convertedImage {
        max-width: 25vh;
        max-height: 20vh;
    }

    #frame .content .messages ul li p,
    #frame .content .chat_client_messages ul li p,
    #frame .content .group_messages .own_group_message {
        max-width: 85% !important;
    }

    #frame #sidepanel #bottom-bar button:nth-child(1) {
        border-right: none;
        border-bottom: 1px solid #2f3440;
    }

    #frame #sidepanel #bottom-bar button {
        float: none;
        width: 100%;
        padding: 15px 0;
    }

    #frame #sidepanel #bottom-bar button i {
        font-size: 1.3em;
    }

    #frame #sidepanel #bottom-bar button span {
        display: none;
    }
}

@media screen and (max-width: 320px) {
    #frame #sidepanel #contacts {
        height: 50vh;
        height: calc(var(--vh, 1vh) * 50);
    }

    #frame .content {
        height: 82vh;
        height: calc(var(--vh, 1vh) * 82);
    }

    #frame #sidepanel {
        height: 82vh;
        height: calc(var(--vh, 1vh) * 82);
    }

    #frame .content .messages ul li p,
    #frame .content .group_messages .own_group_message {
        max-width: 83% !important;
    }

    #frame .content .messages ul li,
    #frame .content .chat_client_messages ul li {
        margin: 3px 4px 6px 10px;
        width: calc(100% - 50px);
        font-size: 14px;
    }

    #wrapper,
    #frame {
        height: 82vh !important;
        height: calc(var(--vh, 1vh) * 82) !important;
    }

    #frame .content .message-input {
        left: 1px;
        width: 260px;
    }
}

#sharedFiles i.fa-times-circle-o {
    color: #2f3440;
    cursor: pointer;
    font-size: 22px;
    position: absolute;
    left: 89%;
    top: 9px;
    z-index: 1;
}

#sharedFiles i.fa-times-circle-o:hover {
    color: #6b6969;
}

#frame .chat_group_options .main_div_shared_files::-webkit-scrollbar,
#frame #sidepanel #groups::-webkit-scrollbar {
    width: 4px;
}

#frame .chat_group_options .main_div_shared_files::-webkit-scrollbar-thumb,
#frame #sidepanel #groups::-webkit-scrollbar-thumb {
    background-color: rgb(72, 76, 86);
}

#frame .chat_group_options .main_div_shared_files {
    -ms-overflow-y: scroll;
    overflow-y: scroll;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    max-height: 360px !important;
}

#frame .chat_group_options .main_div_shared_files .shared_files_ahref {
    background-size: cover;
    width: 85px;
    height: 60px;
    margin-left: 10px;
    margin-top: 5px;
    border: 2px solid #51647c;
}

#sharedFiles .shared_files_ahref {
    background-size: cover;
    width: 97px;
    height: 60px;
    margin-right: 2px;
    margin-left: 13px;
    margin-top: 5px;
    border: 2px solid #51647c;
}

#frame .contact-profile .user_sound_icon:before {
    color: #a9a9a9;
}

#frame .contact-profile .user_sound_icon {
    display: none;
    position: absolute;
    left: 3px;
    top: 32px;
    background: #28292b;
    padding: 4px;
    width: 21px;
    cursor: pointer;
    border-radius: 10px;
}

#frame .chat_group_options .main_div_shared_files .shared_items_span,
#sharedFiles .shared_items_span {
    display: block;
    font-weight: 600;
    width: 81%;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 2px;
    margin-left: 25px;
}

#frame .chat_group_options .nav.nav-tabs,
#sharedFiles .nav.nav-tabs {
    width: 374px;
    border-top: none;
    margin-left: -6px;
    margin-bottom: 0px;
}

#sharedFiles .tab-content::-webkit-scrollbar {
    width: 4px;
}

#sharedFiles .tab-content::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
}

#sharedFiles .tab-content {
    width: calc(100% - 30px);
    overflow-y: auto;
    position: relative;
    height: 85vh;
    margin: 0 auto;
}

#frame .chat_group_options .main_div_shared_files .nav-tabs>li.active>a:focus,
#frame .chat_group_options .main_div_shared_files .nav-tabs>li>a:hover,
#frame .chat_group_options .main_div_shared_files .nav-tabs>li.active>a,
#frame .chat_group_options .main_div_shared_files .nav-tabs>li.active>a:hover {
    border-bottom: 3px solid #5a5d67;
    color: #2f3440;
}

#frame .chat_group_option .nav-tabs>li>a,
#frame .chat_group_option .nav-tabs>li.active>a,
#frame .chat_group_option .nav-tabs>li.active>a:focus,
#frame .chat_group_option .nav-tabs>li>a:hover {
    color: #262d33;
    font-weight: 700;
    letter-spacing: 1px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

#sharedFiles .nav-tabs>li.active>a:focus,
#sharedFiles .nav-tabs>li>a:hover,
#sharedFiles .nav-tabs>li.active>a,
#sharedFiles .nav-tabs>li.active>a:hover {
    border-bottom: 3px solid #6986e8;
}

#sharedFiles .nav-tabs>li>a,
#sharedFiles .nav-tabs>li.active>a,
#sharedFiles .nav-tabs>li.active>a:focus,
#sharedFiles .nav-tabs>li>a:hover {
    color: #262d33;
    font-weight: 700;
    letter-spacing: 1px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

#sharedFiles .tab-content>.active {
    overflow: hidden;
    width: 360px;
    margin: 0 auto;
    margin-left: -13px;
    margin-top: 7px;
}

#sharedFiles .icon_shared_files {
    margin-right: 4px;
    color: #3d5063;
}

#sharedFiles {
    z-index: 56 !important;
    height: 82vh;
    width: 360px;
    float: right;
    display: none;
    box-shadow: 0 0 0px 0 rgba(0, 0, 0, 0.32), 0 0 9px 0 rgba(0, 0, 0, 0.32);
    z-index: 3;
    background: #f9f9f9;
    right: 0;
    top: 60px;
    position: absolute;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

/* Chat Full Screen Loader for uploading files */
.chat-module-loader:before {
    content: 'Uploading...';
    position: absolute;
    bottom: 50vh;
    color: #ffffff;
}

.chat-module-loader {
    display: flex;
    position: absolute;
    width: 100%;
    align-items: center;
    background: rgb(0, 0, 0, 0.6);
    z-index: 99999999999999999;
    height: 100%;
    top: 50%;
    left: 50%;
    padding-left: 48%;
    transform: translate(-50%, -50%);
}

.chat-module-loader div {
    animation: chat-module-loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;
    -webkit-animation: chat-module-loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.chat-module-loader div:after {
    content: ' ';
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 20%;
    background: #fff;
    margin: -3px 0 0 -3px;
}

.chat-module-loader div:nth-child(1) {
    animation-delay: -0.036s;
}

.chat-module-loader div:nth-child(1):after {
    top: 50px;
    left: 50px;
}

.chat-module-loader div:nth-child(2) {
    animation-delay: -0.072s;
}

.chat-module-loader div:nth-child(2):after {
    top: 54px;
    left: 45px;
}

.chat-module-loader div:nth-child(3) {
    animation-delay: -0.108s;
}

.chat-module-loader div:nth-child(3):after {
    top: 57px;
    left: 39px;
}

.chat-module-loader div:nth-child(4) {
    animation-delay: -0.144s;
}

.chat-module-loader div:nth-child(4):after {
    top: 58px;
    left: 32px;
}

.chat-module-loader div:nth-child(5) {
    animation-delay: -0.18s;
}

.chat-module-loader div:nth-child(5):after {
    top: 57px;
    left: 25px;
}

.chat-module-loader div:nth-child(6) {
    animation-delay: -0.216s;
}

.chat-module-loader div:nth-child(6):after {
    top: 54px;
    left: 19px;
}

.chat-module-loader div:nth-child(7) {
    animation-delay: -0.252s;
}

.chat-module-loader div:nth-child(7):after {
    top: 50px;
    left: 14px;
}

.chat-module-loader div:nth-child(8) {
    animation-delay: -0.288s;
}

.chat-module-loader div:nth-child(8):after {
    top: 45px;
    left: 10px;
}

@keyframes chat-module-loader {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}

/* Chat Full Screen Loader for uploading files */

.main_loader_init {
    display: flex;
    position: absolute;
    width: 100%;
    align-items: center;
    background: rgb(0, 0, 0, 0.6);
    z-index: 99999999999999999;
    height: 93vh;
    height: calc(var(--vh, 1vh) * 93);
    padding-left: 52%;
    padding-bottom: 18%;
    overflow: hidden;
}

.main_loader_init div {
    animation: main_loader_init 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;
    -webkit-animation: main_loader_init 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.main_loader_init div:after {
    content: ' ';
    display: block;
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 40%;
    background: rgb(255, 255, 255);
    margin: 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.main_loader_init div:nth-child(1) {
    animation-delay: -0.036s;
}

.main_loader_init div:nth-child(1):after {
    top: 50px;
    left: 50px;
}

.main_loader_init div:nth-child(2) {
    animation-delay: -0.072s;
}

.main_loader_init div:nth-child(2):after {
    top: 54px;
    left: 45px;
}

.main_loader_init div:nth-child(3) {
    animation-delay: -0.108s;
}

.main_loader_init div:nth-child(3):after {
    top: 57px;
    left: 39px;
}

.main_loader_init div:nth-child(4) {
    animation-delay: -0.144s;
}

.main_loader_init div:nth-child(4):after {
    top: 58px;
    left: 32px;
}

.main_loader_init div:nth-child(5) {
    animation-delay: -0.18s;
}

.main_loader_init div:nth-child(5):after {
    top: 57px;
    left: 25px;
}

.main_loader_init div:nth-child(6) {
    animation-delay: -0.216s;
}

.main_loader_init div:nth-child(6):after {
    top: 54px;
    left: 19px;
}

.main_loader_init div:nth-child(7) {
    animation-delay: -0.252s;
}

.main_loader_init div:nth-child(7):after {
    top: 50px;
    left: 14px;
}

.main_loader_init div:nth-child(8) {
    animation-delay: -0.288s;
}

.main_loader_init div:nth-child(8):after {
    top: 45px;
    left: 10px;
}

@keyframes main_loader_init {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}

/* RTL SUPPORT */
body.rtl #frame .dropdown-content {
    top: -53px;
    left: -46px;
}

.rtl #frame .content .contact-profile .social-media {
    float: left;
}

.rtl #frame .content .contact-profile .social-media {
    float: left;
    margin-left: 0px;
}

.rtl #frame .content .contact-profile p {
    float: right;
}

.rtl #frame #sidepanel #profile .wrap img {
    margin-right: 7px;
}

.rtl #frame p {
    direction: initial;
}

.rtl #frame .content .messages ul li p.client,
.rtl #frame .content .messages ul li p.friend,
.rtl #frame .content .chat_client_messages ul li p.friend {
    float: left;
}

.rtl #frame #sidepanel #contacts ul li.contact .wrap img {
    float: right;
    margin-left: 10px;
}

.rtl #frame #sidepanel #profile .wrap p {
    float: right;
    margin-right: 9px;
}

.rtl #frame .content .group_messages,
.rtl #frame .content .chat_client_messages,
.rtl #frame .content .messages {
    margin: 3px 1px 0px 0px;
}

.rtl #frame .content .group_messages ul li,
.rtl #frame .content .chat_client_messages ul li,
.rtl #frame .content .messages ul li {
    margin: 15px 15px 6px 6px;
}

.rtl #frame #sidepanel #search input {
    padding: 0px 25px 0px 46px;
}

.rtl #frame #sidepanel #search i {
    padding-right: 7px;
}

.rtl #frame #sidepanel #contacts ul li.contact .wrap span {
    right: -13px;
}

.rtl #frame #sidepanel #contacts ul li.contact .wrap img {
    margin-right: -10px;
}

/* ADMIN LIGHT THEME SUPPORT */

.admin_light_theme_initiated #frame .contact-profile a {
    color: #6986e8 !important;
}

@media screen and (max-width: 735px) {
    body.rtl #frame #sidepanel #contacts ul li.contact a {
        padding: 6px 19px 46px 8px;
    }
}

@media (max-width: 768px) {
    .admin_light_theme_initiated #frame {
        margin-left: 0px !important;
        width: 100% !important;
        position: fixed !important;
        top: 64px !important;
    }

    .admin_light_theme_initiated #sidepanel,
    .admin_light_theme_initiated #frame {
        -webkit-border-radius: 0px !important;
        border-radius: 0px !important;
    }
}

#frame #sidepanel #groups {
    max-height: 56vh;
    overflow: auto;
}

#frame #sidepanel li.staff {
    border-right: 1px solid #363a46;
}

#frame #sidepanel .nav-tabs>li {
    margin-bottom: 0px;
}

#frame #sidepanel .nav-tabs>li a:hover,
#frame #sidepanel .nav-tabs>li.active>a,
#frame #sidepanel .nav-tabs>li.active>a:focus,
#frame #sidepanel .nav-tabs>li.active>a:hover {
    margin-bottom: 3px;
    color: #6986e8;
    border: 0px;
    transition: unset;
    font-weight: 400 !important;
    letter-spacing: 0px !important;
    -webkit-transition: unset;
    -moz-transition: unset;
    -ms-transition: unset;
    -o-transition: unset;
}

#frame #sidepanel .nav-tabs>li a {
    color: #ddd;
    padding: 12px 10px 12px 10px;
}

#frame #sidepanel ul.nav.nav-tabs.chat_nav {
    border-top: 1px solid #363a46;
    border-bottom: 1px solid #363a46;
}

#frame #sidepanel ul.nav.nav-tabs {
    margin-bottom: 0;
}

#frame #sidepanel .nav-tabs>li {
    width: 33.3%;
    display: flex;
    text-align: center;
    justify-content: center;
}

#frame #sidepanel .nav-tabs li.groups {
    border-right: 1px solid #363a46 !important;
}

#frame .group_members_inline .groups_image {
    -webkit-border-radius: 0px !important;
    border-radius: 0px !important;
}

#frame #sidepanel .group_selector .group_wrapper .groups_image {
    padding-bottom: 10px;
    width: 35px;
}

#frame #sidepanel .group_selector .group_wrapper a {
    color: #fff;
    padding-left: 7px;
}

#frame #sidepanel .group_selector .group_wrapper:focus,
#frame #sidepanel .group_selector .group_wrapper:active,
#frame #sidepanel .group_selector .group_wrapper:hover {
    background: #2b2f38;
}

#frame .group_messages {
    position: relative;
    min-height: calc(100% - 79px);
    max-height: calc(100% - 85px);
    overflow-y: auto;
    overflow-x: hidden;
}

#frame #groupOptionsThree .panel-body {
    padding-top: 5px;
}

#frame a[href='#group_photos'],
#frame a[href='#group_files'] {
    font-size: 14px;
}

#frame a[href='#group_photos'] i,
#frame a[href='#group_files'] i,
#frame .tab-pane.active#group_files div a i {
    padding-right: 4px;
}

#frame .chat_group_options a:not([role='tab']):not([target='_blank']) {
    width: 100%;
    font-size: 15px;
    color: #fff;
}

#frame .group_members .members_list {
    margin-bottom: 0px;
}

#frame .group_members .members_list i.fa-times {
    cursor: pointer;
    font-size: 18px;
}

#frame .group_members .add_chat_member,
#frame .group_members .members_list {
    color: #333 !important;
    cursor: context-menu;
    font-size: 14px;
}

#frame .chat_group_options .add_chat_member {
    color: #333 !important;
    font-size: 14px;
}

#frame .chat_contacts_list {
    margin-bottom: -5px;
    max-height: 57vh;
}

#frame .events_disabled {
    pointer-events: none;
    cursor: default;
}

#frame #groupOptionsIcon {
    color: #fff;
    font-size: 24px;
    float: right;
    padding: 16px 10px 2px 0px;
    cursor: pointer;
    margin-right: 6px;
}

#frame .add_member {
    position: absolute;
    top: 20px;
    left: 18px;
}

#frame .group_messages .user_is_typing {
    position: sticky;
    color: #333;
    padding-bottom: 1px;
    top: 97%;
    left: 9px;
    font-size: 13px;
    font-style: italic;
}

#frame .group_selector.active {
    background: #2b2f38;
}

body #frame .active_group_members {
    padding-top: 26px !important;
    float: none !important;
    width: 93% !important;
}

#frame #sidepanel #bottom-bar #add_group_btn {
    width: 100%;
}

#frame .chat_group_options .dismiss_chat_group {
    color: #333;
    cursor: pointer;
    font-size: 13px;
    position: absolute;
    margin-right: 11px;
    right: 0;
    top: 2%;
    background: #d1d5da;
    z-index: 1;
}

#frame .i_chat_navigation {
    padding-right: 7px !important;
    font-size: 14px !important;
}

#frame .group_chat_options_text {
    margin-top: 32px;
}

#frame .chat_groups_list .leave_chat_group i.leave_group_icon {
    font-size: 16px;
}

#frame .chat_groups_list .leave_chat_group:hover {
    border: 1px solid #0286ca !important;
}

#frame .chat_groups_list .leave_chat_group {
    position: absolute;
    right: 0;
    font-size: 11px;
    padding-top: 1px;
    margin-top: -26px;
    margin-right: 8px;
    width: 33px;
    height: 20px;
}

#frame .panel-group#group_options {
    margin-top: 50px;
    margin-bottom: 5px;
}

#frame .group_members .fa-times {
    float: right;
    clear: both;
}

#frame .panel-heading {
    background: #2f3440;
}

#frame .panel-heading .accordion-toggle:after {
    font-family: 'Glyphicons Halflings';
    content: '\e114';
    float: right;
    color: #fff;
}

#frame .panel-heading .accordion-toggle.collapsed:after {
    content: '\e080';
}

body #wrapper #frame .content .chat_group_options.active {
    display: block;
}

#frame .chat_group_options {
    border-left: 1px solid #d8d7d7;
    display: none;
    padding: 10px;
    margin-top: -11px;
    z-index: 56 !important;
    height: 82vh;
    width: 360px;
    float: right;
    box-shadow: 0 0 0px 0 rgba(0, 0, 0, 0.32), 0 0 9px 0 rgba(0, 0, 0, 0.32);
    background: #f9f9f9;
    right: 0;
    top: 71px;
    position: absolute;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#frame #sidepanel .group_selector .group_wrapper {
    width: 100%;
    color: #fff;
    cursor: pointer;
    height: 50px;
    padding: 6px 0px 0px 20px;
    margin: 0 auto;
    position: relative;
}

/* Group chat device responseive media screen */
@media (max-width: 768px) {

    #frame #sidepanel .crm_clients {
        display: none !important;
    }

    #frame #sidepanel .nav-tabs>li {
        width: 50% !important;
        text-align: center !important;
    }

    body .main_loader_init {
        display: flex;
        position: absolute;
        width: 100%;
        align-items: center;
        background: rgba(0, 0, 0, 0.45);
        z-index: 99999999999999999;
        height: 93vh;
        height: calc(var(--vh, 1vh) * 93);
        padding-left: 44%;
        padding-bottom: 73%;
        overflow: hidden;
    }

    #frame .message_loader,
    #frame .message_group_loader {
        left: 47%;
    }

    #frame #sidepanel #profile .wrap {
        border-bottom: none;
    }

    #frame #sidepanel .nav-tabs {
        border-top: 1px solid #363a46;
        border-bottom: 1px solid #363a46;
    }

    #frame #sidepanel li.staff {
        border-right: none;
        border-bottom: 1px solid #363a46;
    }

    #frame #sidepanel li.groups {
        border-top: none;
    }

    #frame #sidepanel .nav-tabs>li {
        width: 100% !important;
        text-align: center;
    }

    body #wrapper #frame .i_chat_navigation {
        padding: 0px;
        padding-left: 7px;
    }

    body.Prchat_Controller #wrapper #frame .content .contact-profile .groupOptions {
        display: none !important;
    }

    body #wrapper #frame .content .chat_group_options.active {
        display: none;
    }

    #frame .chat_groups_list .leave_chat_group {
        display: none;
    }

    #frame #sidepanel .group_selector .group_wrapper .group-list {
        display: none;
    }

    #frame #sidepanel .group_selector .group_wrapper {
        padding-left: 14px;
    }

    #frame #sidepanel #bottom-bar button i {
        margin-right: 0px;
    }

    #frame #sidepanel li.groups.active {
        border: none;
        margin: 0 !important;
    }

    #frame #sidepanel li.active.staff,
    #frame #sidepanel li.active.staff a {
        margin: 0 !important;
        border: none;
        border-bottom: 1px solid #363a46;
    }

    #frame #sidepanel .nav-tabs>li a,
    #frame #sidepanel .nav-tabs>li a:hover,
    #frame #sidepanel .nav-tabs>li.active>a,
    #frame #sidepanel .nav-tabs>li.active>a:focus,
    #frame #sidepanel .nav-tabs>li.active>a:hover {
        margin: 0px;
        padding: 10px 10px !important;
        border: none;
    }

    body #wrapper #frame .active_group_members {
        font-size: 12px;
        padding-top: 16px !important;
    }

    body #frame .chat_groups_list .g_new_msg i.fa-comments {
        font-size: 15px;
        position: absolute;
        right: 1px;
    }

    body #frame .chat_groups_list .g_new_msg {
        float: right;
        margin: 0px;
        color: #5e73e0;
    }
}

/* Perfex Dark Theme Support */
body.perfex_dark_theme_initiated #wrapper #frame #sidepanel #contacts ul li.contact.active,
body.perfex_dark_theme_initiated #wrapper #frame #groups ul li.group_selector.active,
body.perfex_dark_theme_initiated #wrapper #frame #groups ul li.group_selector .group_wrapper:hover,
body.perfex_dark_theme_initiated #wrapper li.active a,
body.perfex_dark_theme_initiated #wrapper #frame #sidepanel #contacts ul li.contact:hover {
    background: #18263a;
}

body.perfex_dark_theme_initiated #frame .announcement .dropdown button.btn.btn-primary.dropdown-toggle,
body.perfex_dark_theme_initiated #frame .announcement .dropdown button.btn.btn-primary.dropdown-toggle:hover,
body.perfex_dark_theme_initiated #frame #sidepanel #search input {
    background-color: #1d2a3c !important;
}

body.perfex_dark_theme_initiated #frame .content .message-input .wrap textarea {
    background: #fff !important;
    border-color: #7e97bf !important;
}

body.perfex_dark_theme_initiated #frame #sidepanel #profile {
    background: #131c28;
}

body.perfex_dark_theme_initiated #frame .content .message-input .wrap button {
    border-top: 1px solid #131c28 !important;
}

body.perfex_dark_theme_initiated #frame #sidepanel .nav-tabs>li a:hover,
body.perfex_dark_theme_initiated #frame #sidepanel .nav-tabs>li.active>a,
body.perfex_dark_theme_initiated #frame #sidepanel .nav-tabs>li.active>a:focus,
body.perfex_dark_theme_initiated #frame #sidepanel.nav-tabs>li.active>a:hover {
    margin-bottom: 2px;
}

body.perfex_dark_theme_initiated #frame .chat_nav.nav-tabs>li {
    margin-bottom: 0 !important;
}

body.perfex_dark_theme_initiated #frame .content .contact-profile,
body.perfex_dark_theme_initiated #frame #sidepanel #profile .wrap,
body.perfex_dark_theme_initiated #frame #sidepanel .chat_nav .staff a,
body.perfex_dark_theme_initiated #frame #sharedFiles .nav.nav-tabs,
body.perfex_dark_theme_initiated #frame #sidepanel .chat_nav .groups a,
body.perfex_dark_theme_initiated #frame #sidepanel,
body.perfex_dark_theme_initiated #wrapper ul.chat_contacts_list,
body.perfex_dark_theme_initiated #frame #sidepanel #bottom-bar button,
body.perfex_dark_theme_initiated #frame #groups .chat_groups_list,
body.perfex_dark_theme_initiated #frame .content .message-input .wrap button,
body.perfex_dark_theme_initiated #frame #sidepanel #search {
    background: #131c28 !important;
}

body.perfex_dark_theme_initiated #sharedFiles .nav-tabs>li.active>a,
body.perfex_dark_theme_initiated #sharedFiles .nav-tabs>li.active>a:focus,
body.perfex_dark_theme_initiated #sharedFiles .nav-tabs>li>a:hover {
    background: #18263a;
}

body.perfex_dark_theme_initiated #frame .chat_group_options .main_div_shared_files .shared_items_span,
body.perfex_dark_theme_initiated #frame #sharedFiles #files .col-md-12 a,
body.perfex_dark_theme_initiated #sharedFiles .shared_items_span {
    color: #333 !important;
}

/* Clients css styling */
body.Prchat_Controller #frame .contact_name::before {
    content: '';
    display: block;
    width: 11px;
    height: 11px;
    background: #a7adb3;
    background-color: #a7adb3;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
    left: -15px;
    top: 15px;
}

#frame #toggle_clients i.fa-sliders {
    transform: rotate3d(0, 0, 1, 90deg);
    -webkit-transform: rotate3d(0, 0, 1, 90deg);
    -moz-transform: rotate3d(0, 0, 1, 90deg);
    -ms-transform: rotate3d(0, 0, 1, 90deg);
    -o-transform: rotate3d(0, 0, 1, 90deg);
}

body.Prchat_Controller #frame .contact_name.contactActive::before {
    content: '';
    display: block;
    width: 11px;
    height: 11px;
    background: #14b94e;
    background-color: rgb(74, 208, 129) !important;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
    left: -15px;
    top: 15px;
}

body.Prchat_Controller #frame .contact_name {
    padding-left: 25px;
    padding-top: 0px;
    background: #596386;
    border: unset;
    border-radius: 0 !important;
    cursor: pointer;
    display: none;
    transition: background 0.55s;
    -webkit-transition: background 0.55s;
    -moz-transition: background 0.55s;
    -ms-transition: background 0.55s;
    -o-transition: background 0.55s;
}

body.Prchat_Controller #frame .contact_name:hover {
    background: #6986e8;
}

body.Prchat_Controller #frame .customers_toggler::after,
body.Prchat_Controller #frame .customers_toggler.chevron-right::after {
    content: "\f054";
}

body.Prchat_Controller #frame .customers_toggler::after,
body.Prchat_Controller #frame .customers_toggler.chevron-default::after {
    content: "\f078";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    float: right;
    clear: both;
}

body.Prchat_Controller #frame .customers_toggler {
    cursor: default;
    padding-left: 3px;
    background: #2f3440;
    border-bottom: 1px solid #363a46;
    padding: 10px;
    margin: 0;
    transform: rotate(0);
    transition: all 0.75s 0.25s;
    -webkit-transition: ;
    -moz-transition: ;
    -ms-transition: ;
    -o-transition: ;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
}

body.Prchat_Controller #frame .company_selector.active li.selected {
    background: #6986e8 !important;
}

body.Prchat_Controller #frame .company_selector {
    background: #1167c1;
    background: transparent;
    margin: 0;
}

body.Prchat_Controller #frame .cl_c_name {
    color: #333;
    float: right;
    margin-top: -42px;
    font-size: 10px;
    padding-right: 7px;
}

body.Prchat_Controller #frame .li_clients {
    display: block;
    font-size: 18px;
    padding-left: 36px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #6986e8;
    color: #fff;
    border-bottom: 1px solid #2f3440;
}

body.Prchat_Controller #frame .client_data {
    padding-top: 31px;
}

body.Prchat_Controller #frame .client_data strong {
    color: #6986e8;
}

body.Prchat_Controller #frame .client_data span {
    color: #fff;
    float: right;
    margin-right: 11px;
    padding-top: 3px;
}

body.Prchat_Controller #frame .client_data p {
    padding-left: 9px;
    margin-top: -10px;
}

.cp-5 {
    padding: 5px;
}

.bg-chat-primary {
    background: #6986e8;
}