@font-face {
    font-family: 'Metropolis Regular';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Metropolis-Regular.eot');
    /* IE9 Compat Modes */
    src: local('Metropolis Regular'), local('Metropolis-Regular'), url('../fonts/Metropolis-Regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/Metropolis-Regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Metropolis-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Metropolis-Regular.svg#Quicksand') format('svg');
    /* Legacy iOS */
}

.customers-nav-item-knowledge-base::before {
    font: normal normal normal 20px/1 FontAwesome;
    content: "\f059";
    position: absolute;
    top: 4px;
}

.customers-nav-item-register::before {
    font: normal normal normal 20px/1 FontAwesome;
    content: "\f234";
    position: absolute;
    top: -10px;
}

.customers-nav-item-login::before {
    font: normal normal normal 20px/1 FontAwesome;
    content: "\f2bd";
    position: absolute;
    top: -10px;
}

.customers-nav-item-knowledge-base {
    margin-top: 8px !important;
}

.customers-nav-item-projects::before {
    font: normal normal normal 20px/1 FontAwesome;
    content: "\f0ae";
    position: absolute;
    top: -10px;
}

.customers-nav-item-subscriptions::before {
    font: normal normal normal 20px/1 FontAwesome;
    content: "\f0e2";
    position: absolute;
    top: -10px;
}

.customers-nav-item-invoices::before {
    font: normal normal normal 20px/1 FontAwesome;
    content: "\f15c";
    position: absolute;
    top: -10px;
}

.customers-nav-item-contracts::before {
    font: normal normal normal 20px/1 FontAwesome;
    content: "\f0c0";
    position: absolute;
    top: -10px;
    left: -2px;
}

.customers-nav-item-estimates::before {
    font: normal normal normal 20px/1 FontAwesome;
    content: "\f0ea";
    position: absolute;
    top: -10px;
}

.customers-nav-item-proposals::before {
    font: normal normal normal 20px/1 FontAwesome;
    content: "\f1c4";
    position: absolute;
    top: -10px;
}

.customers-nav-item-support::before {
    font: normal normal normal 20px/1 FontAwesome;
    content: "\f025";
    position: absolute;
    top: -10px;
}

.customers-nav-item-gdpr::before {
    font: normal normal normal 20px/1 FontAwesome;
    content: "\f13e";
    position: absolute;
    top: -10px;
}

body .col-md-2 {
    width: 19.666667%;
}

body.customers .nav-tabs>li.active>a,
body.customers .nav-tabs>li.active>a:focus,
body.customers .nav-tabs>li.active>a:hover,
body.customers .nav-tabs>li>a:focus,
body.customers .nav-tabs>li>a:hover {
    border-color: #00B1E0;
}

body.customers .nav-tabs>li.active>a,
body.customers .nav-tabs>li.active>a:focus,
body.customers .nav-tabs>li.active>a:hover,
body.customers .nav-tabs>li>a:focus,
body.customers .nav-tabs>li>a:hover {
    color: #00B1E0;
}

body.customers .panel-body ul li>a:hover,
body.customers .panel-body ul li>a:focus {
    outline: unset;
    color: #8c70b9;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

body.customers .nav-tabs>li>a {
    padding: 12px 13px 12px 12px;
}

body.customers .panel-heading {
    background: #dadada !important;
}

body.customers .panel_s>.panel-heading {
    font-weight: 500;
    background: #ffffff !important;
    margin-bottom: 12px;
}

body.customers .panel_s .panel-body,
body.customers .panel_s {
    border-radius: 0 !important;
    border: none;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
}

body {
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    background-color: #dadada !important;
    background: #dadada !important;
}

body .navbar.navbar-default.header {
    background: #ffffff;
}

html,
body,
form,
fieldset,
table,
tr,
td,
img,
span.menu-text,
span.sub-menu-text {
    font-family: Metropolis Regular !important;
}

li a i.menu-icon {
    margin-right: 16px;
    display: block;
    float: left;
    width: 18px;
    font-size: 18px;
}

.footer {
    display: none;
}

ul.submenu a {
    font-size: 16px !important;
}

a,
input,
button,
select,
textarea,
option,
div {
    font-family: inherit;
}

body .navbar.navbar-default.header .container {
    position: fixed;
    float: left;
    height: 100vh;
    width: 230px;
    -webkit-box-shadow: 3px -1px 6px -7px rgba(43, 42, 43, 0.71);
    box-shadow: 3px -1px 6px -7px rgba(43, 42, 43, 0.71);
}

body .navbar.navbar-default.header .container ul.nav.navbar-nav.navbar-right {
    width: 131px;
    background: transparent;
    margin-right: 77px;
}

body .customers-nav-item-knowledge-base a {
    margin-top: 15px;
}

body .navbar-nav>li {
    margin-top: 30px;
    margin-left: 14px;
}

body .navbar.navbar-default.header .container ul.nav.navbar-nav.navbar-right li a {
    color: #333333;
    margin-bottom: 66px;
    padding: 0;
    margin-left: 30px;
}

body.customers_login #wrapper,
body.customers.register #wrapper {
    margin-left: 205px;
}

body:not(.register):not(.customers_login) #wrapper {
    min-height: 100%;
    margin-left: 230px;
    position: relative;
}

body #theme-navbar-collapse ul.nav.navbar-nav.navbar-right>li {
    margin-bottom: -50px;
    width: 230px;
}

body .submenu.customer-top-submenu {
    margin-top: 25px;
    margin-right: 60px;
}

body .dropdown.customers-nav-item-profile {
    position: absolute;
    left: 127px;
    top: -15px;
}

body .pagination>li:last-child>a,
.pagination>li:last-child>span,
body .pagination>li:first-child>a,
.pagination>li:first-child>span,
body .dropdown-menu>li:first-child>a,
body .dropdown-menu>li:last-child>a,
body #wrapper .input-group-addon,
body .xdsoft_datetimepicker,
body .dropdown-menu,
body #wrapper .label,
body #wrapper .dropdown-menu.open,
body #wrapper ul.dropdown-menu {
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    -o-border-radius: 0px !important;
}

body #wrapper .btn,
body #wrapper textarea,
body #wrapper input,
body #wrapper div.label,
body #wrapper .bootstrap-select .dropdown-menu li,
body #wrapper select {
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    -o-border-radius: 0px !important;
}

body .client-profile-image-small {
    margin-left: -2px;
}

body .navbar-default .navbar-nav>li>a {
    line-height: 0px;
    font-size: 15px;
}

body.customers_login .navbar-nav li.customers-nav-item-login a {
    padding: 8px 10px;
}

body .dropdown.customers-nav-item-profile .dropdown-menu.animated.fadeIn a {
    margin-bottom: -7px !important;
    margin-left: 0px !important;
    padding: 14px !important;
}

body .dropdown.customers-nav-item-profile .dropdown-menu.animated.fadeIn {
    position: absolute;
    left: 46px;
    top: 47px;
}

body .navbar.navbar-default.header .container ul.nav.navbar-nav.navbar-right li a:hover {
    color: #00B1E0;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    width: 230px;
    margin-left: -15px;
}

.customers .navbar-default {
    z-index: 1;
    width: 230px;
    position: fixed;
    background-color: #fff;
    height: 100vh;
}

.navbar a.navbar-brand img {
    margin-left: 15px;
}

body.customers .open-ticket-subject {
    background: #fff;
}

body .progress {
    width: 100%;
    border-radius: 0px;
    height: 20px;
}

body.estimate-view .table.items thead,
body.proposal-view .table.items thead,
body.viewinvoice .table.items thead {
    background: #e2e2e2 !important;
    color: #131212 !important;
}

body .progress-bar {
    height: 100%;
    font-size: 14px;
    line-height: 22px;
    color: #fff;
}

body.customers .dataTables_empty {
    background: url(../images/table-no-data.png) center center / auto 161px no-repeat;
}

body.customers table.dataTable thead tr>th,
body.customers table.dataTable>thead:first-child>tr:first-child>th {
    color: #676262;
}

body.customers table>thead>tr>th {
    background: #efefef;
}

body.customers .pagination>.active>a {
    background: #00B1E0;
    border-color: #00B1E0;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}

body.customers .pagination>li>a:hover {
    color: #00B1E0;
}

body.customers .table .alert-info {
    color: #00B1E0;
}

body.customers .pagination>.active>a:focus,
body.customers .pagination>.active>a:hover,
body.customers .pagination>.active>span,
body.customers .pagination>.active>span:focus,
body.customers .pagination>.active>span:hover {
    color: #fff;
    background-color: #9371ca;
    border-color: #9371ca;
}

body .dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:active {
    background-color: #00B1E0 !important;
    color: #ffffff !important;
}


/* @media (max-width:1600px) {
    #wrapper {
        min-height: 100%;
        margin-left: 270px;
        position: relative;
    }
}
 */

@media (max-width:1430px) {
    .panel_s {
        width: 80%;
    }
    .submenu.customer-top-submenu {
        float: left;
        margin-left: 2px;
    }
}

@media (max-width:990px) {
    body .col-md-2 {
        width: 100%;
    }
}

@media (max-width:735px) {
    body:not(.register):not(.customers_login) #wrapper {
        margin-left: 0px;
    }
}

@media (max-width:768px) {
    body.customers ul.dropdown-menu.animated.fast.flipInY {
        padding-left: 37px;
    }
    body .dropdown.customers-nav-item-profile .dropdown-menu.animated.fadeIn a {
        margin-left: 30px !important;
    }
    body .navbar.navbar-default.header .container ul.nav.navbar-nav.navbar-right li a {
        color: #333333;
        margin-bottom: -2px;
        padding: 0;
    }
    body .navbar.navbar-default.header .container ul.nav.navbar-nav.navbar-right li {
        text-align: center;
        margin-bottom: 0px;
    }
    .panel_s {
        width: 100%;
    }
    body.customers_login #wrapper {
        margin-left: 0px !important;
        margin-top: 25px;
    }
    body.customers.register #wrapper {
        margin-left: 0px !important;
    }
    body.hide-sidebar #wrapper,
    body.show-sidebar #wrapper {
        margin-left: 0 !important;
    }
    body .navbar.navbar-default.header .container {
        position: unset;
        float: none;
        height: auto;
        width: auto;
        -webkit-box-shadow: -1px 4px 6px -7px rgba(43, 42, 43, 0.71);
        box-shadow: -1px 4px 6px -7px rgba(43, 42, 43, 0.71);
    }
    body .navbar-default .navbar-form {
        width: auto;
        margin: 100%;
    }
    body .navbar.navbar-default.header .container ul.nav.navbar-nav.navbar-right {
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
        transform: translateX(-7%);
    }
    body.customers .navbar-default {
        width: 100%;
        height: auto;
        margin-left: auto;
    }
    body .navbar>.container .navbar-brand,
    .navbar>.container-fluid .navbar-brand {
        margin-left: auto;
        margin-top: auto;
    }
    body .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        width: auto;
    }
    body .navbar-default .navbar-nav>li>a {
        position: relative;
        font-size: 18px;
        text-align: center;
        line-height: 20px;
    }
    body.customers.mobile #theme-navbar-collapse ul.nav.navbar-nav.navbar-right>li {
        margin-top: 21px;
    }
    body #theme-navbar-collapse ul.nav.navbar-nav.navbar-right>li {
        margin-bottom: auto;
        width: auto;
    }
    body.customers.mobile .pagination>.active>a,
    body.customers.mobile div[class^="col"] {
        z-index: 0;
    }
    body .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border-color: #00B1E0;
    }
    body .navbar-default .navbar-toggle .icon-bar {
        background-color: #00B1E0;
    }
    body .dropdown.customers-nav-item-profile .dropdown-menu.animated.fadeIn {
        text-align: center;
        position: unset;
    }
    body .dropdown.customers-nav-item-profile {
        position: unset;
    }
    body .navbar-default .navbar-collapse {
        width: auto;
    }
    .customers-nav-item-knowledge-base::before,
    .customers-nav-item-projects::before,
    .customers-nav-item-invoices::before,
    .customers-nav-item-contracts::before,
    .customers-nav-item-estimates::before,
    .customers-nav-item-proposals::before,
    .customers-nav-item-support::before,
    .customers-nav-item-register::before,
    .customers-nav-item-subscriptions::before,
    .customers-nav-item-login::before,
    .customers-nav-item-gdpr::before {
        display: none;
    }
    .customers-nav-item-login a {
        position: unset !important;
    }
}

input[type="radio"]:checked+label:after,
input[type="checkbox"]:checked+label:after,
.radio-primary input[type=radio]+label::after {
    background: #00B1E0 !important;
    color: #033450;
}

input[type="checkbox"]:checked+label:after {
    width: 18px;
    height: 18px;
    padding-right: 3px;
    color: #ffffff;
}

input[type=radio]:checked+label::before {
    border-color: #00B1E0 !important;
}

.input-group-addon .checkbox label::after {
    padding: 3px;
}

tr th:first-child input[type="checkbox"]:checked+label:after {
    background: #ffffff !important;
    color: #00B1E0;
}

.dt-loader:not(:required) {
    background: #00B1E0;
    height: 13px;
    width: 13px;
    -webkit-border-radius: 30%;
    border-radius: 30%;
    -webkit-animation: loader 1s 150ms infinite ease-out;
    animation: loader 1s 150ms infinite ease-out;
    -moz-border-radius: 30%;
    -ms-border-radius: 30%;
    -o-border-radius: 30%;
}

.dt-loader:not(:required):after,
.dt-loader:not(:required):before {
    background: #00B1E0;
    height: 13px;
    width: 13px;
    -webkit-border-radius: 30%;
    border-radius: 30%;
}

@-webkit-keyframes loader {
    0% {
        background: #00B1E0;
    }
    10% {
        background: #c5c5c5;
    }
    40% {
        background: #00B1E0;
    }
}

@keyframes loader {
    0% {
        background: #00B1E0;
    }
    10% {
        background: #c5c5c5;
    }
    40% {
        background: #00B1E0;
    }
}

.navbar>.container .navbar-brand,
.navbar>.container-fluid .navbar-brand {
    margin-left: -15px;
    margin-top: -10px;
    margin-bottom: -19px;
}

.btn-info:focus,
.btn-info.focus,
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.open>.dropdown-toggle.btn-info,
.btn-info:active:hover,
.btn-info.active:hover,
.open>.dropdown-toggle.btn-info:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.open>.dropdown-toggle.btn-info:focus,
.btn-info:active.focus,
.btn-info.active.focus,
.open>.dropdown-toggle.btn-info.focus,
.btn-info:active,
.btn-info.active,
.open>.dropdown-toggle.btn-info {
    background-color: #00B1E0 !important;
    color: #fff !important;
    border: 1px solid #00B1E0 !important;
}

.btn-info {
    background-color: #00B1E0 !important;
    border-color: #00B1E0 !important;
}

.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
    background-color: #00B1E0 !important;
    color: #fff !important;
    border-color: #00B1E0 !important;
}

.btn-success {
    background-color: #12c50f !important;
}

.success-bg {
    background: #12c50f !important;
    color: #fff !important;
    border: 1px solid #12c50f !important;
}

.btn-success:focus,
.btn-success.focus,
.btn-success:hover,
.btn-success:active,
.btn-success.active,
.open>.dropdown-toggle.btn-success,
.btn-success:active:hover,
.btn-success.active:hover,
.open>.dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open>.dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open>.dropdown-toggle.btn-success.focus,
.btn-success:active,
.btn-success.active,
.open>.dropdown-toggle.btn-success {
    background-color: #00a200;
    color: #fff;
    border-color: #00a200
}

.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
    background-color: #41ff3d !important;
    color: #fff !important;
    border-color: #41ff3d !important;
}

body.customers .dropdown .btn {
    border: 1px solid #bfcbd9 !important;
}

body.customers .btn {
    font-size: 14px !important;
    border: 0px !important;
}

body.customers .btn-success {
    border-color: #12c50f !important;
}

body.customers ul.dropdown-menu.animated.fast.flipInY {
    top: 35px;
}

body.customers ul.dropdown-menu.animated.fast.flipInY li a {
    margin-bottom: -7px !important;
    padding: 14px !important;
    margin-left: 0 !important;
}

body.customers .btn-danger {
    border: 3px solid;
    background-color: #ef4848 !important;
}

.btn-danger:focus,
.btn-danger.focus,
.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.open>.dropdown-toggle.btn-danger,
.btn-danger:active:hover,
.btn-danger.active:hover,
.open>.dropdown-toggle.btn-danger:hover,
.btn-danger:active:focus,
.btn-danger.active:focus,
.open>.dropdown-toggle.btn-danger:focus,
.btn-danger:active.focus,
.btn-danger.active.focus,
.open>.dropdown-toggle.btn-danger.focus,
.btn-danger:active,
.btn-danger.active,
.open>.dropdown-toggle.btn-danger {
    background-color: #e63939 !important;
    color: #fff !important;
    border-color: transparent !important;
}

.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger.focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
    background-color: #ff3232;
    color: #fff;
    border-color: #ff3232;
}

.dataTables_length select:focus,
.uneditable-input:focus,
input[type=color]:focus,
input[type=date]:focus,
input[type=datetime-local]:focus,
input[type=datetime]:focus,
input[type=email]:focus,
input[type=file]:focus,
input[type=month]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=text]:focus,
input[type=time]:focus,
input[type=url]:focus,
input[type=week]:focus,
select.form-control:focus,
textarea.form-control:focus {
    border-color: #b796ea !important;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc_disabled:after {
    opacity: 0.8;
}

.customers-nav-item-login a {
    top: -44px;
    position: absolute;
    width: 0;
    height: 0;
}

.btn-danger {
    border-color: #ff0000;
}

.dataTables_length select {
    padding-top: 8px !important;
}

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent
}

.waves-effect .waves-ripple {
    position: absolute;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    opacity: 0;
    background: rgba(0, 0, 0, .2);
    background: -webkit-radial-gradient(rgba(0, 0, 0, .2) 0, rgba(0, 0, 0, .3) 40%, rgba(0, 0, 0, .4) 50%, rgba(0, 0, 0, .5) 60%, rgba(255, 255, 255, 0) 70%);
    background: -o-radial-gradient(rgba(0, 0, 0, .2) 0, rgba(0, 0, 0, .3) 40%, rgba(0, 0, 0, .4) 50%, rgba(0, 0, 0, .5) 60%, rgba(255, 255, 255, 0) 70%);
    background: -moz-radial-gradient(rgba(0, 0, 0, .2) 0, rgba(0, 0, 0, .3) 40%, rgba(0, 0, 0, .4) 50%, rgba(0, 0, 0, .5) 60%, rgba(255, 255, 255, 0) 70%);
    background: radial-gradient(rgba(0, 0, 0, .2) 0, rgba(0, 0, 0, .3) 40%, rgba(0, 0, 0, .4) 50%, rgba(0, 0, 0, .5) 60%, rgba(255, 255, 255, 0) 70%);
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
    -webkit-transform: scale(0) translate(0, 0);
    -moz-transform: scale(0) translate(0, 0);
    -ms-transform: scale(0) translate(0, 0);
    -o-transform: scale(0) translate(0, 0);
    transform: scale(0) translate(0, 0);
    pointer-events: none
}

.waves-effect.waves-light .waves-ripple {
    background: rgba(255, 255, 255, .4);
    background: -webkit-radial-gradient(rgba(255, 255, 255, .2) 0, rgba(255, 255, 255, .3) 40%, rgba(255, 255, 255, .4) 50%, rgba(255, 255, 255, .5) 60%, rgba(255, 255, 255, 0) 70%);
    background: -o-radial-gradient(rgba(255, 255, 255, .2) 0, rgba(255, 255, 255, .3) 40%, rgba(255, 255, 255, .4) 50%, rgba(255, 255, 255, .5) 60%, rgba(255, 255, 255, 0) 70%);
    background: -moz-radial-gradient(rgba(255, 255, 255, .2) 0, rgba(255, 255, 255, .3) 40%, rgba(255, 255, 255, .4) 50%, rgba(255, 255, 255, .5) 60%, rgba(255, 255, 255, 0) 70%);
    background: radial-gradient(rgba(255, 255, 255, .2) 0, rgba(255, 255, 255, .3) 40%, rgba(255, 255, 255, .4) 50%, rgba(255, 255, 255, .5) 60%, rgba(255, 255, 255, 0) 70%)
}

.waves-effect.waves-classic .waves-ripple {
    background: rgba(0, 0, 0, .2)
}

.waves-effect.waves-classic.waves-light .waves-ripple {
    background: rgba(255, 255, 255, .4)
}

.waves-notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important
}

.waves-button,
.waves-circle {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    mask-image: -webkit-radial-gradient(circle, #fff 100%, #000 100%);
    -webkit-mask-image: -webkit-radial-gradient(circle, #fff 100%, #000 100%);
}

.waves-button,
.waves-button-input,
.waves-button:hover,
.waves-button:visited {
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: none;
    outline: 0;
    color: inherit;
    background-color: rgba(0, 0, 0, 0);
    font-size: 1em;
    line-height: 1em;
    text-align: center;
    text-decoration: none;
    z-index: 1
}

.waves-button {
    padding: .85em 1.1em;
    border-radius: .2em
}

.waves-button-input {
    margin: 0;
    padding: .85em 1.1em
}

.waves-input-wrapper {
    border-radius: .2em;
    vertical-align: bottom
}

.waves-input-wrapper.waves-button {
    padding: 0
}

.waves-input-wrapper .waves-button-input {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1
}

.waves-circle {
    text-align: center;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.waves-float {
    mask-image: none;
    -webkit-mask-image: none;
    -webkit-box-shadow: 0 1px 1.5px 1px rgba(0, 0, 0, .12);
    box-shadow: 0 1px 1.5px 1px rgba(0, 0, 0, .12);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

.waves-float:active {
    -webkit-box-shadow: 0 8px 20px 1px rgba(0, 0, 0, .3);
    box-shadow: 0 8px 20px 1px rgba(0, 0, 0, .3)
}

.waves-block {
    display: block
}

.nanobar {
    width: 100%;
    height: 0px;
    z-index: 100;
    top: 0;
    background: #fff;
}

.bar {
    width: 0;
    height: 100%;
    transition: height .3s;
    background: #00B1E0;
    height: 4px;
}

body .text-uppercase.login-heading {
    color: #fff;
}

body.customers_login {
    background: #fffffb !important;
    min-height: 100vh;
}

body.customers_login .btn-info:hover {
    background: #805db7 !important;
}

body.customers_login .btn.active.focus,
body.customers_login .btn.active:focus,
body.customers_login .btn.focus,
body.customers_login .btn:active.focus,
body.customers_login .btn:active:focus,
body.customers_login .btn:focus {
    outline: 0px;
    outline-offset: 0px;
}

body.customers_login .btn {
    font-size: 16px;
}

body.customers_login .btn-success {
    margin-top: 10px !important;
    height: 40px;
}

body.customers .list-status a {
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    -o-border-radius: 0px !important;
}

body.customers_login .btn-info {
    height: 40px;
    border-radius: 0px !important;
    background: #00B1E0 !important;
    outline-color: transparent;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    -o-border-radius: 0px !important;
}

body.customers_login .line_toggler {
    text-align: left;
    display: block;
    width: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

body.customers_login form input:focus {
    outline: none;
}

body.customers_login form input {
    border: none !important;
    padding-left: 40px !important;
    -webkit-border-radius: 0px !important;
    border-radius: 0px !important;
    padding-top: 6px;
    caret-color: #444;
    background-color: rgba(0, 0, 0, 0.03) !important;
}

body.customers_login .form-group a {
    margin: 0 auto;
    padding-left: 14px;
    padding-top: 10px;
}

body.customers_login .checkbox {
    padding: 10px;
    text-align: center;
    color: #337ab7;
    font-size: 16px;
}

body.customers_login .panel-body {
    text-align: center;
}

body.customers_login .form-group:last-child {
    text-align: center;
    padding: 20px;
    font-size: 16px;
}

body.customers_login .line_toggler:before {
    content: "";
    display: inline-block;
    position: absolute;
    margin-top: -2px;
    width: 0;
    height: 2px;
    background: #00B1E0;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}

body.customers_login form input:focus+.line_toggler::before {
    width: calc(100% - 40px);
    background: #00B1E0
}

body #wrapper .label {
    font-size: 13px !important;
}

body.customers_login .form-group label {
    display: block;
    max-width: 100%;
    margin-bottom: -15px;
    margin-top: 20px;
    margin-left: 3px;
    text-align: left;
    font-weight: 500 !important;
}

body.customers_login .fa-user-circle-o:before {
    font-family: 'FontAwesome';
    content: "\f2be";
}

body.customers_login .fa-key:before {
    content: "\f084";
    font-family: 'FontAwesome';
}

body.customers_login .icon_input_focus::before {
    color: #00B1E0 !important;
}

body.customers_login .login_icon::before {
    color: #666;
    -webkit-transition: all .6s;
    -o-transition: all .6s;
    -moz-transition: all .6s;
    transition: all .6s;
}

body.customers_login .login_icon {
    position: relative;
    font-size: 20px;
    top: 27px;
    padding-left: 10px;
    float: left;
}

body .panel_s>.panel-footer.attachments_area {
    background: #ffffff;
    border: 1px solid #e4e5e7;
    margin-top: 15px;
}


/* body .modal-backdrop.fade.in {
    z-index: -1 !important;
} */

body.viewinvoice #wrapper,
body.viewproposal #wrapper,
body.viewestimate #wrapper {
    margin-left: 0px !Important;
}

::-webkit-scrollbar {
    width: 10px !important;
    height: 10px !important;
}

::-webkit-scrollbar-thumb {
    background-color: #777;
}

::-webkit-scrollbar-track {
    background-color: #ffffff;
}

body #wrapper #project_file_data #project-file-discussion .profile-picture,
body #wrapper #project_file_data #project-file-discussion .name,
body #wrapper #project_file_data #project-file-discussion .content {
    color: #333 !important;
}

body #wrapper #project-file-discussion ul.navigation {
    background: #fff !important;
}

body #project-file-discussion .comment-wrapper,
body #wrapper #project-file-discussion #comment-list,
body #wrapper #project-file-discussion .child-comments,
body #wrapper #project-file-discussion .commenting-field {
    background: #fff !important;
    border-radius: 5px !important;
}

body #project_file_data .project_file_discusssions_area {
    height: auto !important;
}

body #project-file-discussion.jquery-comments ul.main li.comment .wrapper .content,
body #project-file-discussion .action.reply,
body #project-file-discussion .delete.enabled,
body #project-file-discussion .update.save,
body #project-file-discussion .action.edit {
    color: #333 !important;
}


/* body .modal-backdrop.fade.in {
    position: unset !important;
} */

body .project_file_discusssions_area .jquery-comments ul.navigation li[data-container-name="comments"],
body .project_file_discusssions_area .jquery-comments ul.navigation li[data-container-name="comments"] .jquery-comments ul.navigation li[data-container-name="comments"]:hover {
    color: #312f2f !important;
}

body .project_file_discusssions_area .jquery-comments ul.navigation li.active,
.jquery-comments ul.navigation li:hover {
    color: #1666d0 !important;
}

body #project-file-discussion .control-row .send.save {
    background: #fefefe !important;
    color: #333 !important;
    margin-bottom: 11px !important;
    margin-right: 11px !important;
}

body #wrapper .project_file_area {
    max-height: 580px !important;
    height: auto !important;
}


/* RTL */

body[dir="rtl"] #theme-navbar-collapse ul.nav.navbar-nav.navbar-right>li {
    margin-bottom: -50px;
    width: 200px;
}

body[dir="rtl"] #content {
    margin-right: 260px;
}

body[dir="rtl"]:not(.register):not(.customers_login) {
    margin-right: 0px;
}

body[dir="rtl"] ul.nav li::before {
    right: -31px !important;
}

body[dir="rtl"] .staff_online_text {
    text-align: right;
}

body[dir="rtl"] .line_toggler {
    text-align: right;
    display: block;
    width: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

@media (max-width: 768px) {
    body[dir="rtl"] .navbar.navbar-default.header .container ul.nav.navbar-nav.navbar-right {
        margin-left: 64px;
    }
    body[dir="rtl"] #theme-navbar-collapse ul.nav.navbar-nav.navbar-right>li {
        margin-bottom: auto;
        width: auto;
    }
    body[dir="rtl"] #content {
        margin-right: 0px;
    }
}

body[dir="rtl"] .submenu.customer-top-submenu {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

@media (min-width: 768px) {
    body[dir="rtl"] .dropdown.customers-nav-item-profile {
        right: 166px;
    }
    body[dir="rtl"] .navbar>.container .navbar-brand,
    body[dir="rtl"] .navbar>.container-fluid .navbar-brand {
        margin-right: 0px;
    }
    body[dir="rtl"] .navbar-right {
        margin-top: 29px;
    }
    body[dir="rtl"] .submenu.customer-top-submenu {
        float: right;
        margin-left: 2px;
    }
    body[dir="rtl"] .navbar-nav>li {
        float: left !important;
    }
    body[dir="rtl"] .navbar-right .dropdown-menu-left {
        right: 93px;
        left: auto;
    }
}

body .fa-caret-down {
    font-size: 1.3em;
}

body .fa-caret-down:hover::before {
    color: #00B1E0 !important;
}

body .fa-caret-down:before {
    content: "\f107";
    color: #989898;
    margin-left: 4px;
}

.admin_light_theme_initiated table.dataTable thead tr>th,
.table.dataTable>thead:first-child>tr:first-child>th {
    color: #4e75ad;
}

.dataTable tr {
    border-right: 1px solid #bfcbd9!important;
    border-left: 1px solid #bfcbd9!important;
}

body.admin_light_theme_initiated #wrapper table>thead>tr>th {
    background: #ffffff;
    border-color: #bfcbd9!important;
}


/* Theme Other Colors */

body .label-warning,
body span.project-status-3,
body span[task-status-table="1"] {
    color: #ffb822 !important;
    cursor: text !important;
    font-size: 13px;
    background-color: rgba(255, 194, 65, 0.15);
    border: 1px solid rgb(255, 246, 227) !important;
    padding: .6rem 1.1rem;
}

body .label-success,
body span.project-status-4,
body span[task-status-table="5"],
body span[task-status-table="2"] {
    color: #0abb87 !important;
    cursor: text !important;
    font-size: 13px;
    background-color: rgba(10, 187, 135, .1);
    border: 1px solid #e6f8f3 !important;
    padding: .6rem 1.1rem;
}

body span.proposal-status-1,
body span.project-status-1,
body span.invoice-status-6,
body span[task-status-table="3"] {
    color: #777777 !important;
    cursor: text !important;
    font-size: 13px;
    background-color: rgba(93, 120, 255, .1);
    border: 1px solid rgb(238, 241, 255) !important;
    padding: .6rem 1.1rem;
}

body span.proposal-status-6 {
    color: #777777 !important;
    cursor: text !important;
    font-size: 13px;
    background-color: rgba(121, 121, 121, 0.1);
    border: 1px solid rgb(238, 241, 255) !important;
    padding: .6rem 1.1rem;
}

body span.proposal-status-5 {
    color: #e4bb46 !important;
    cursor: text !important;
    font-size: 13px;
    background-color: rgba(232, 217, 34, 0.1);
    border: 1px solid rgb(253, 251, 232) !important;
    padding: .6rem 1.1rem
}

body .label-info,
body .label-primary,
body span.project-status-2,
body span[task-status-table="4"] {
    color: #00B1E0 !important;
    cursor: text !important;
    font-size: 13px;
    background-color: rgba(44, 119, 244, .1);
    border: 1px solid rgb(247, 248, 250) !important;
    padding: .6rem 1.1rem;
}

body .label-danger,
body span.project-status-5,
body .invoice-status-5,
body span[task-status-table="5"] {
    color: #fd397a !important;
    cursor: text !important;
    font-size: 13px;
    background-color: rgba(253, 57, 122, .1);
    border: 1px solid rgb(255, 235, 241) !important;
    padding: .6rem 1.1rem;
}